<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3 class="modal-title">View {{ invoice.type == 'ACCREC' ? 'Invoice':'Bill'}}</h3>
</div>
<div class="modal-body">
	<div ng-include="'modules/xero/invoice/XeroInvoicesDetail.html'">
</div>
<div class="modal-footer">
</div>
