<div>
	<form ng-submit='addPayment()'>
		<!-- form body -->
		<div class="row">
			<div class="col-lg-6">
	    		<div class="input-group">
	    			<label for="exampleInputEmail1">Amount Paid</label>
	    			<input type="number" value="payment.amount" class="form-control" min='0' ng-model="payment.amount" disabled required>
	    		</div>
	    	</div>
	    	
	    	<div class="col-lg-6">
	    		<div class='input-group'>
	    			<label for="exampleInputEmail1">Date Paid</label>
	    			<input type="date" value="payment.paidDate" class="form-control" ng-model="payment.paidDate" required>
	    		</div>
	    	</div>
		</div>
	    <div class="row">
			<div class="col-lg-6">
	    		<div class="input-group">
	    			<label for="exampleInputEmail1">Paid From</label>
	   				<select class="selectize-dropdown form-control" ng-model="payment.accountID" ng-options="account.accountID as account.code + ' - ' + account.name group by account.type for account in accountInView" required></select>
	    		</div>
	    	</div>
	    	<div class="col-lg-6">
	    		<div class='input-group' >
	    			<label for="exampleInputEmail1">Reference</label>
	    			<input type="text" class="form-control" ng-model="payment.reference">
	    		</div>
	    	</div>
		</div>
		<hr>
		
		<!-- submit button -->
		<div style="text-align: right; padding-right:10px">
			<!-- Add Button -->
			<button type="submit" class="btn btn-sm btn-primary"> Add </button>
		  	
		  	<!-- Cancel Button -->
			<button type="button" class="btn btn-sm"  ng-click="cancel()"> Cancel </button>
		</div>
	</form>
</div>