<div class="modal-header" >
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3 class="modal-title" ng-if='!invoice.Type'> Add </h3>
    <h3 class="modal-title" ng-if='invoice.Type'> {{(invoice.Type == "ACCPAY" ? ' Add New Bill': 'Add New Sales') + (invoice.isCredit == 'CREDIT' ? ' Credit Note': ' Invoice')}} </h3>
</div>

<div class="modal-body" ng-class="{'creditClass':(invoice.isCredit == 'CREDIT')}">
	<!-- Header -->
	<div ng-if="display.invoiceTypeOption">
		<H5><b> You want to add: </b></H5>
		<button class="btn btn-sm btn-primary">
			<input type="radio" ng-change="displayChange('formHeaderSale')" ng-model="invoice.Type" value="ACCREC" /> Sales
        </button>
        
        <button class="btn btn-sm btn-primary">
        	<input type="radio" ng-change="displayChange('formHeaderBill')" ng-model="invoice.Type" value="ACCPAY" /> Bills 
		</button>
		
		<!-- SPACE -->
		<button class="btn btn-sm disabled"> >>> </button>
		
		<button class="btn btn-sm btn-primary">
			<input type="radio" ng-change="displayChange()" ng-model="invoice.isCredit" value="" /> Invoice
        </button>
        
        <button class="btn btn-sm btn-primary">
        	<input type="radio" ng-change="displayChange()" ng-model="invoice.isCredit" value="CREDIT" /> Credit Note 
		</button>
	</div>
	
	<div ng-if="(display.formHeaderSale && invoice.Type)">
		<div ng-include="'modules/xero/invoice/XeroInvoiceAddHeaderSale.html'"></div>
	</div>
	
	<div ng-if="(display.formHeaderBill && invoice.Type)">
		<div ng-include="'modules/xero/invoice/XeroInvoiceAddHeaderBill.html'"></div>
	</div>
	
</div>
<div class="modal-footer">
	<!-- Add Button -->
	<button type="button"
          class="btn btn-primary"
          ng-click="add('Invoice')"
          ng-if="!display.invoiceTypeOption && !invoice.isCredit">
      		 Add Invoice
  	</button>
  	
  	<button type="button"
          class="btn btn-primary"
          ng-click="add('CreditNote')"
          ng-if="!display.invoiceTypeOption && invoice.isCredit">
      		 Add Credit Note
  	</button>
</div>
