<div>
	<div style="text-align: center;">
		<h3>All Invoices owned to you</h3>
		<hr>
	</div>	
	<!-- filter -->
	<div style="padding-left:15px" class="row form-inline">
		<button class="btn btn-sm btn-primary">
			<input type="radio" ng-model="tableParams.filter()['type']" name="filter-age" value="ACCREC" /> Invoices 
        </button>
        
        <button class="btn btn-sm btn-primary">
        	<input type="radio" ng-model="tableParams.filter()['type']" name="filter-age" value="ACCPAY" /> Bills
		</button>
		
		<input type="text" class="form-control" placeholder="Enter Contact" ng-model="tableParams.filter()['contact.name']">
		
		<select class="selectize-dropdown form-control" 
				ng-model="tableParams.filter()['status']">
			 <option value="" >ALL</option>
			 <option value="PAID">Paid</option>
			 <option value="DELETED">Deleted</option>
			 <option value="AUTHORISED">Awaiting Payment</option>
			 <option value="SUBMITTED">Awaiting Approval</option>
			 <option value="DRAFT">Draft</option>
			 <option value="VOIDED">Voided</option>
		</select>	
		
		<!-- Add new invoice -->
		<button
			data-hint="Add New Invoice/Credit Note"
			class="hint--right btn btn-sm btn-success"
			ng-click="invoiceEdit('addInvoice', null)">
			<span class="glyphicon glyphicon-list-alt"></span>
		</button>	
	</div>
	<br/>
	
	<!-- Contents -->
	<table   ng-table="tableParams" 
			 template-pagination="modules/xero/templates/ngTableTemplates.html" 
			 class="table table-hover table-striped table-bordered">
	         <tr ng-repeat="invoiceT in $data" filter="{'type':'type'}">
	             <td style="text-align:cente"
	             	data-title="(tableParams.filter()['type'] == 'ACCREC' ? 'Number' : 'Ref')"
	             	sortable="'invoiceNumber+creditNoteNumber'">
	                <a ng-click="invoiceEdit('view', invoiceT)">
	                	{{(invoiceT.type.substring(6,invoiceT.type.length) == 'CREDIT' ? invoiceT.creditNoteNumber :invoiceT.invoiceNumber)}}
	                </a>
	             </td>
	             <td data-title="(tableParams.filter()['type'] == 'ACCREC' ? 'To' : 'From')" 
	             	filter="{'contact.name':'name'}"
	             	sortable="'contact.name'">
	                <a ng-click="invoiceEdit('view', invoiceT)">
	                	<span style="color:YellowGreen" ng-if="invoiceT.type == 'ACCPAY'" class="glyphicon glyphicon-log-out"></span> 
	                	<span style="color:CornflowerBlue" ng-if="invoiceT.type == 'ACCREC'" class="glyphicon glyphicon-log-in"></span> 
	                	<span style="color:orange" ng-if="invoiceT.type.substring(6,invoiceT.type.length) == 'CREDIT'" class="glyphicon glyphicon-copyright-mark"></span> 
	                	{{' ' + invoiceT.contact.name}}
	                </a>
	             </td>
	             <td style="text-align:center"
	             	data-title="'Date'"
	             	sortable="'date'">
	                 {{invoiceT.date.substring(0,10)}}
	             </td>
	             <td style="text-align:center" 
	             	data-title="'Due Date'"
	             	sortable="'dueDate'">
	                 {{invoiceT.dueDate.substring(0,10)}}
	             </td>
	             <td style="text-align:center" 
	             	data-title="'Paid'">
	                 {{invoiceT.amountPaid}}
	             </td>
	             <td style="text-align:center" 
	             	data-title="'Due'">
	                 {{invoiceT.amountDue}}
	             </td>
	             <td style="text-align:center" 
	             	data-title="'If Paid'" filter="{ 'status': 'status' }">
	             	<span ng-if="invoiceT.status == 'PAID'" style="color:green" class='glyphicon glyphicon-ok'></span>
	             </td>
	             <td style="text-align:center" 
	             	data-title="'Send'">
	             	<span ng-if="invoiceT.sentToContact == 'true'" style="color:green" class='glyphicon glyphicon-ok-sign'></span>
	             </td>
	             <td style="width: 165px; text-align: center;"
	             	data-title="'Edit'">
	             	<!-- Edit Options -->
					<button ng-if="!(invoiceT.status == 'SUBMITTED' || invoiceT.status=='DRAFT')"
						class="hint--left btn btn-sm disabled"
						data-hint="Delete The Invoice">
						<span class="fa fa-trash-o"></span>
					</button>
					
					<button ng-if="invoiceT.status == 'SUBMITTED' || invoiceT.status=='DRAFT'"
						class="hint--left btn btn-sm btn-danger"
						data-hint="Delete The Invoice"
						ng-click="updateStatusOfInvoice('DELETED',invoiceT)">
						<span class="fa fa-trash-o"></span>
					</button>
						
					<button ng-if="invoiceT.status != 'AUTHORISED'"
						data-hint="Add payments"
						class="hint--left btn btn-sm disabled" >
						<span class="glyphicon glyphicon-usd"></span>
					</button>
					
					<button ng-if="invoiceT.status == 'AUTHORISED'"
						data-hint="Add payments"
						class="hint--left btn btn-sm btn-primary"
						ng-click="invoiceEdit('addPay', invoiceT)">
						<span class="glyphicon glyphicon-usd"></span>
					</button>
					
					<button ng-if="invoiceT.status != 'AUTHORISED'"
						data-hint="Add payments"
						class="hint--left btn btn-sm disabled" >
						<span class="glyphicon glyphicon-ban-circle"></span>
					</button>
					
					<button ng-if="invoiceT.status == 'AUTHORISED'"
						data-hint="Void the invoice"
						class="hint--left btn btn-sm btn-info"
						ng-click="updateStatusOfInvoice('VOIDED', invoiceT)">
						<span class="glyphicon glyphicon-ban-circle"></span>
					</button>
					
					<button ng-if="!(invoiceT.status == 'SUBMITTED' || invoiceT.status == 'DRAFT')"
						data-hint="Approve the invoice"
						class="hint--left btn btn-sm disabled">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					
					<button ng-if="invoiceT.status == 'SUBMITTED' || invoiceT.status == 'DRAFT'"
						data-hint="Approve the invoice"
						class="hint--left btn btn-sm btn-warning"
						ng-click="updateStatusOfInvoice('AUTHORISED', invoiceT)">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
				</td>
				
	        </tr>
    </table>
</div>