<div>
	<!-- Invoice Information -->
	<table class="table table-transform">
	    <thead>
	    	<tr>
	        	<th>From</th>
	        	<th>Date</th>
	        	<th>Due Date</th>
	        	<th>Invoice #</th>
	        	<th></th>
	        	<th>Total</th>
	    	</tr>
	    </thead>
	    <tbody>
		    <tr>
		        <td>{{invoice.contact.name}}</td>
		        <td>{{invoice.date.substring(0,10)}}</td>
		        <td>{{invoice.dueDate.substring(0,10)}}</td>
		        <td>{{invoice.invoiceNumber}}</td>
		        <td></td>
		        <td>{{invoice.total}}</td>
		    </tr>
	    </tbody>
	</table>
	<br/>
	<!-- Contact Address -->
	<div ng-repeat="address in invoice.contact.addresses.addresses | filter: {addressType: 'POBOX'}">
		{{address.addressLine1 + (address.addressLine2 == "null" ? " " : ", " + address.addressLine2)}}
		<br/>
		{{address.city + " " + address.postalCode}}
	</div>
	<hr>
	
	<!-- Tax type -->
	<div style="text-align:right">
		Amounts are <b> Tax {{invoice.lineAmountTypes}} </b>
		<br/>
	<div>
	
	<!-- Line Items Information -->
	<table  class="table table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th>Item Code</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Account</th>
				<th>Tax Rate</th>
				<th>Region</th>
				<th>Amount AUD</th>
			</tr>
		</thead>
		<tbody>
			 <tr ng-repeat="lineitem in invoice.lineItems.lineItem">
			 	<td> </td>
	            <td style="text-align:left"> {{lineitem.description}} </td>
	            <td style="text-align:center"> {{lineitem.quantity}} </td>
	            <td style="text-align:center"> {{lineitem.unitAmount}} </td>
	            <td style="text-align:center"> {{lineitem.accountCode}} </td>
	            <td style="text-align:center"> GST on {{lineitem.taxType == 'OUTPUT' ? 'Income' : 'Expenses'}} </td>
	            <td style="text-align:center"> </td>
	            <td style="text-align:center"> {{lineitem.lineAmount}} </td>
	          </tr>
	   </tbody>
	</table>
	<br/>
	
	<!-- Total information -->
	<div style="text-align:right">
		<table style="width:100%">
			<tr>
				<td style="text-align: right; width:90%">Subtotal</td><td style="text-align: right">{{invoice.subTotal}}</td>
			</tr>
			<tr>
				<td style="text-align: right">Total GST 10%</td><td style="text-align: right">{{invoice.totalTax}}</td>
			</tr>
			<!-- blank line -->
			<tr><td></td></tr>
			<tr>
				<td style="text-align: right"><b>Total</b></td><td style="text-align: right"><b>{{invoice.total}}</b></td>
			</tr>
		</table>	
	</div>
	
	<!-- Payment information if have -->
	<div ng-if="invoice.payments.payments" ng-repeat="payment in invoice.payments.payments">
		<hr>
		<table style="width:100%">
			<tr>
				<td style="text-align: right; width:90%">Less Payment</td><td style="text-align: right">{{payment.amount}}</td>
			</tr>
			<tr>
				<td style="text-align: right;">{{payment.date.substring(0,10)}}</td><td></td>
			</tr>
		</table>
	</div>
	
	<!-- Credit Notes -->
	<div ng-if="invoice.creditNotes" ng-repeat="creditNote in invoice.creditNotes.creditNotes">
		<hr>
		<table style="width:100%">
			<tr>
				<td style="text-align: right; width:90%">Less Credit Note</td><td style="text-align: right">{{creditNote.total}}</td>
			</tr>
			<tr>
				<td style="text-align: right;">{{creditNote.date.substring(0,10)}}</td><td></td>
			</tr>
		</table>
	</div>
	
	<!-- Amount Due -->
	<div>
		<hr>
		<table style="width:100%">
			<tr>
				<td style="text-align: right; width:90%"><b>Amount Due</b></td><td style="text-align: right"><b>{{invoice.amountDue}}</b></td>
			</tr>
		</table>
	</div>
</div>