<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3 class="modal-title">Add Payment</h3>
</div>
<div class="modal-body">	
	<div ng-include="'modules/xero/invoice/XeroPaymentAddForm.html'"></div>
</div>