<!-- header -->
<div>
	<table class="table">
		<tr>
			<td><b>To</b></td>
			<td><b>Date</b></td>
			<td><b>Due Date</b></td>
			<td><b>Invoice #</b></td>
			<td><b>Reference<em>(optional)</em></b></td>
			<td><b>Breading<em>(optional)</em></b></td>
		</tr>
		<tr>
			<td><input type='text' class="form-control input-sm" typeahead="contact.name for contact in contacts | filter:$viewValue" ng-model="contact.Name"/></td>
			<td><input type='date' class="form-control input-sm" ng-model="invoice.Date"/></td>
			<td><input type='date' class="form-control input-sm" ng-model="invoice.DueDate"/></td>
			<td><input type='text' class="form-control input-sm" ng-model="invoice.InvoiceNumber" placeholder="invoice.InvoiceNumber" disabled/></td>
			<td><input type='text' class="form-control input-sm" ng-model="invoice.Reference"/></td>
			<td>
				<select class="form-control" ng-model="invoice.brandingThemeID">
					<option value="Standard"> Standard </option>
					<option value="Special Projects">Special Projects</option>
				</select>
			</td>
		</tr>
	</table>
</div>

<!-- Body -->
<div>
	<div ng-include="'modules/xero/invoice/XeroInvoiceAddBody.html'">
</div>