<div>
	<br/>
	<h4><b><em>Optional</em></b></h4>
	<!-- Tax & Currency -->
	<table class="table">
			<tr>
				<td style='text-align:left; width:10%'><b>Currency</b></td>
				<td style='text-align:left; width:50%'>
					<select ng-model="invoice.CurrencyCode" >
						<option value="AUD"> AUD Australian Dollar </option>
					</select>
				</td>
				<td style='text-align:right; width:20%'><b>Amounts are</b></td>
				<td style='text-align:right; width:15%'>
					<select ng-model="invoice.LineAmountTypes" >
						<option value="Exclusive"> Tax Exclusive </option>
						<option value="Inclusive"> Tax Inclusive </option>
						<option value="NoTax"> No Tax </option>
					</select>
				</td>
			</tr>
	</table>
	<hr>
	<!-- Line Items -->
	<table class="table">
		<thead>
			<tr>
				<th>Item</th>
				<th style="width:40%">Description</th>
				<th>Qty</th>
				<th>Unit Price</th>
				<th>Account</th>
				<th colspan='2'>Amount AUD</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="lineItem in lineItems">
				<td>
					<input type="text" class="form-control input-sm" typeahead="item.code for item in items | filter:$viewValue" ng-model="lineItem.Code"/>
				</td>
				<td>
					<input type="text"  class="form-control input-sm" typeahead="item.description for item in items | filter:lineItem.Code" ng-model="lineItem.Description"/>
				</td>
				<td>
					<input type="text" class="form-control input-sm" ng-model="lineItem.Quantity"/>
				</td>
				<td>
					<input type="text" class="form-control input-sm" ng-model="lineItem.UnitAmount"/>
				</td>
				<td>
					<input type="text" class="form-control input-sm" ng-model="lineItem.AccountCode" typeahead="account.code as (account.code + ' - ' + account.name) for account in accounts | filter:$viewValue"/>
				</td>
				<td>
					{{lineItem.UnitAmount * lineItem.Quantity}}
				</td>
				<td>
					<button type="button"
          				 	class="btn btn-sm"
         				 	ng-click="removeLineItem($index)">
      					<span class="glyphicon glyphicon-remove"></span>
  					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<!-- Add New Line item -->
	<div>
		<button type="button"
     			class="btn btn-sm btn-primary"
    			ng-click="addNewLine()">
 			Add New Line
		</button>
	</div>
</div>