<div>
	<ul class="pager ng-cloak">
		<li ng-repeat="page in pages"
			ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
			ng-show="page.type == 'prev' || page.type == 'next'"
			ng-switch="page.type"><a ng-switch-when="prev"
			ng-click="params.page(page.number)" href="">&laquo; Previous</a> <a
			ng-switch-when="next" ng-click="params.page(page.number)" href="">Next
				&raquo;</a></li>
		<li>
			<div class="btn-group">
				<button type="button" ng-class="{'active':params.count() == 5}"
					ng-click="params.count(5)" class="btn btn-default">5</button>
			</div>
		</li>
	</ul>
</div>