<div class="col-lg-6">
	<div class="portlet box">
		<div class="portlet-body">
			<div>
				<h3>
					<b> Note: {{currentNote.title}} </b>
				</h3>
				<h4>
					<b>Content</b>
				</h4>
				<div rich-text-editor ng-model="currentNoteContent"></div>
				<button type="button" ng-click="updateNote()" class="btn btn-blue">
					Save
				</button>
			</div>
		</div>
	</div>
</div>