<module-ui-enabler
	name="evernote"
	ng-controller="EvernoteController">

<div pageheading>{{module.title}}</div>

<div ng-init="config()" class="row">
	<div class="col-lg-12">		
		<feature-ui-enabler name="config" ng-hide="hideConnect">
			<div ng-include="'modules/evernote/configFragment.html'"></div>
		</feature-ui-enabler>
	</div>
</div>

</module-ui-enabler>