<h3>
	<b>Your Notebooks</b>
</h3>
<div class="row">
	<div class="col-lg-6">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="n in evernoteNotebooks"><img
								src="core/img/notebook_icon.png" class="avatar img-responsive">
								<div class="message">
									<span class="chat-arrow"></span><b>Name: </b><a
										href="#/evernote/notebooks?id={{n.guid}}&name={{n.name}}" class="chat-name">
										{{n.name}}</a>&nbsp; <span class="chat-body"> <b>Published:</b>
										{{n.published}}
									</span>
								</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>