<module-ui-enabler name="evernote" ng-controller="EvernoteController">

<div pageheading>{{module.title}}</div>

<div ng-init="notebooks()" class="row">
	<div class="col-lg-12">
		<feature-ui-enabler name="notebooks" ng-if="showNotebooks">
			<div ng-include="'modules/evernote/notebooksFragment.html'"></div>
		</feature-ui-enabler>
		<feature-ui-enabler name="notes" ng-if="!showNotebooks">
			<div ng-include="'modules/evernote/notesFragment.html'"></div>
		</feature-ui-enabler>
	</div>
</div>

</module-ui-enabler>