<div>
	<div class="col-lg-6">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<h3>
						<b>Available Notes in {{notebookName}}</b>
					</h3>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="no in notebookNotes"><img
								src="core/img/note_icon.png" class="avatar img-responsive">
								<div class="message">
									<span class="chat-arrow"></span><b>Title: </b><a
										href="javascript:void(0);" class="chat-name"> {{no.title}}</a>&nbsp;
									<span class="chat-body"> <b>Active:</b> {{no.active}}
										<button data-hint="Show content of '{{no.title}}'" style="float: right;"
											class="btn hint--left" ng-click="notebooks(no.guid, false)">
											Show content</button>
										<button data-hint="Edit content of '{{no.title}}'" style="float: right;"
											class="btn hint--left" ng-click="notebooks(no.guid, true)"
											ng-if="no.resources == null">Edit content</button>
									</span>
								</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<feature-ui-enabler name="note" ng-if="showNoteContent">
		<div ng-include="'modules/evernote/noteFragment.html'"></div>
	</feature-ui-enabler>
	<feature-ui-enabler name="editNote" ng-if="showEditContent">
		<div ng-include="'modules/evernote/editNoteFragment.html'"></div>
	</feature-ui-enabler>
</div>