<div class="col-lg-6">
	<div class="portlet box">
		<div class="portlet-body">
			<div>
				<h3>
					<b> Note: {{currentNote.title}} </b>
				</h3>
				<h4>
					<b>Content</b>
				</h4>
				<span ng-bind-html="currentNoteContent"></span>
			</div>
		</div>
	</div>
</div>