<div ng-controller="ViewAllUsersController">
	<div pageheading>{{module.title}}</div>

	<div class="row">
		<div class="col-lg-12">
			<button
				type="button"
				class="btn btn-success hint--right"
				ng-click="addUser()"
				data-hint="Add new user">
				<span class="ion-android-add-contact"></span>
			</button>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-lg-12">
			<table
				ng-table="tableParams"
				template-pagination="core/templates/ngtablecustompagination1.html"
				class="table table-hover table-striped table-bordered">
				<tr ng-repeat="user in $data">
					<td
						data-title="'Name'"
						sortable="'name'">{{user.name}}</td>
					<td
						data-title="'Username'"
						sortable="'user_name'">{{user.user_name}}</td>
					<td
						style="width: 125px; text-align: center;"
						data-title="'Super Admin'"
						sortable="'is_super_user'">
						<!--  --> <span ng-show="user.is_super_user"><span class="fa fa-check"> </span></span>
					</td>
					<td
						style="width: 130px; text-align: center;"
						data-title="'Edit'">
						<button
							data-hint="Edit user details"
							class="hint--left btn btn-sm btn-primary"
							ng-click="updateDetails(user)">
							<span class="fa fa-edit"></span>
						</button>

						<button
							data-hint="Update user permissions"
							class="hint--left btn btn-sm btn-primary"
							ng-click="updatePermission(user)">
							<span class="fa fa-eye"></span>
						</button>

						<button
							class="hint--left btn btn-sm btn-danger"
							data-hint="Delete the user"
							ng-click="deleteUser(user)">
							<span class="fa fa-trash-o"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>