<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3 class="modal-title">{{ enablePassField?'Add new user':'Update user' }}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal"
          name="userForm"
          role="form">

        <div class="form-group">
            <label for="exampleInputEmail1">First name</label>
            <!--  -->
            <input type="text"
                   class="form-control"
                   ng-model="user.name"
                   required=""
                   ng-minlength="3"
                   ng-maxlength="45"
                   id="exampleInputEmail1"
                   placeholder="First name">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <!--  -->
            <input type="text"
                   class="form-control"
                   ng-disabled="!enablePassField"
                   ng-model="user.user_name"
                   required=""
                   ng-minlength="3"
                   ng-maxlength="45"
                   ng-trim=""
                   id="exampleInputEmail1"
                   placeholder="Username">
        </div>

        <div class="form-group"
             ng-if="enablePassField">
            <label for="exampleInputPassword1">Password</label>
            <!--  -->
            <input type="password"
                   class="form-control"
                   ng-model="user.pass"
                   required=""
                   ng-minlength="3"
                   ng-maxlength="45"
                   ng-trim=""
                   id="exampleInputPassword1"
                   placeholder="Password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Super Admin?</label>
            <!--  -->
            <input type="checkbox"
                   class="form-control"
                   ng-model="user.is_super_user"
                   id="exampleInputPassword1"
                   placeholder="Password">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-lg btn-primary"
            ng-click="submitUser()"
            ng-disabled="userForm.$invalid">
        Submit
    </button>
</div>