<div class="modal-header">
	<button
		type="button"
		class="close"
		data-dismiss="modal"
		aria-hidden="true"
		ng-click="cancel()">&times;</button>
	<h3 class="modal-title">Assign {{radioModel.radioModel}} to {{user.name}}</h3>
</div>
<div class="modal-body noMargin">
	<div class="row">
		<div class="col-lg-12">
			<p class="wfcreatorTitle">Groups or Roles?</p>
			<div class="btn-group">
				<!--  -->
				<label
					class="btn btn-default"
					ng-model="radioModel.radioModel"
					btn-radio="'role'">Roles</label>
				<!--  -->
				<label
					class="btn btn-default"
					ng-model="radioModel.radioModel"
					btn-radio="'group'">Groups</label>
			</div>
		</div>
	</div>
	<hr />
	<div ng-repeat="rog in rolesorgroups">
		<div class="row">
			<div class="col-lg-9">
				<h4 class="list-group-item-heading">{{rog.name}}</h4>
				<p class="list-group-item-text">{{rogdescription}}</p>
			</div>
			<div class="col-lg-3">
				<button
					ng-if="!rog.assigned"
					class="btn btn-success btn-xs pull-right"
					ng-click="assignOrUnassignRoleOrGroupToUser(rog, true);">Assign</button>
				<button
					ng-if="rog.assigned"
					class="btn btn-danger btn-xs pull-right"
					ng-click="assignOrUnassignRoleOrGroupToUser(rog, false);">Unassign</button>
			</div>
		</div>
		<!-- Don't show for last item -->
		<hr ng-if="$index < rolesorgroups.length-1" />
	</div>
</div>