<module-ui-enabler
	name="maths"
	ng-controller="MathsController">

<div pageheading>{{module.title}}</div>

<div class="row">
	<div class="col-lg-12">
		<feature-ui-enabler name="add">
		<div ng-include="'modules/maths/addFragment.html'"></div>
		</feature-ui-enabler>
	</div>
</div>

</module-ui-enabler>