<module-ui-enabler name="maths">

<div pageheading>Maths</div>

<div class="row">
	<div class="col-lg-12">

		<feature-ui-enabler
			name="add"
			ng-controller="MathsController">
		<div ng-include="'modules/maths/addFragment.html'"></div>
		</feature-ui-enabler>

		<hr />

		<feature-ui-enabler
			name="subtract"
			ng-controller="MathsController">
		<div ng-include="'modules/maths/subtractFragment.html'"></div>
		</feature-ui-enabler>
		
		<hr />

		<feature-ui-enabler
			name="multiply"
			ng-controller="MathsController">
		<div ng-include="'modules/maths/multiplyFragment.html'"></div>
		</feature-ui-enabler>
		
	</div>
</div>

</module-ui-enabler>

