/* See: https://github.com/dfsq/ngView-animation-effects */

/* -------------- SLIDE -------------- */
.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.slide.ng-enter,.slide.ng-leave {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.slide.ng-enter {
	left: 100%;
}

.slide.ng-enter-active {
	left: 0;
}

.slide.ng-leave {
	left: 0;
}

.slide.ng-leave-active {
	left: -100%;
}

/* -------------- SLIDE DOWN -------------- */
.slidedown {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slidedown.ng-enter,.slidedown.ng-leave {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.slidedown.ng-enter {
	top: -100%;
}

.slidedown.ng-enter-active {
	top: 0;
}

.slidedown.ng-leave {
	top: 0;
}

.slidedown.ng-leave-active {
	top: 100%;
}

/* -------------- SLIDE UP -------------- */
.slideup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.slideup.ng-enter,.slideup.ng-leave {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.slideup.ng-enter {
	top: 100%;
}

.slideup.ng-enter-active {
	top: 0;
}

.slideup.ng-leave {
	top: 0;
}

.slideup.ng-leave-active {
	top: -100%;
}

/* -------------- POP IN OUT -------------- */
.pop {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.pop.ng-enter,.pop.ng-leave {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.pop.ng-enter {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.pop.ng-enter-active,.pop.ng-leave,.pop.ng-leave-active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.pop.ng-leave-active {
	
}

/* -------------- FADE IN OUT -------------- */
.fade {
	height: 100%;
	opacity: 1;
}

.fade.ng-enter,.fade.ng-leave {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.fade.ng-enter {
	opacity: 0;
}

.fade.ng-enter-active {
	opacity: 1;
}

.fade.ng-leave {
	opacity: 1;
}

.fade.ng-leave-active {
	opacity: 0;
}

/* -------------- FLIP -------------- */
/* -moz, -o- prefexies are skipped */
.content {
	-webkit-transition: -webkit-transform 1s;
	-webkit-perspective: 600px;
}

.content .flip {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 1s ease-in-out;
}

.content .flip.ng-enter {
	-webkit-transform: rotateY(-180deg);
}

.content .flip.ng-enter-active {
	-webkit-transform: rotateY(0deg);
}

.content .flip.ng-leave {
	-webkit-transform: rotateY(0deg);
}

.content .flip.ng-leave-active {
	-webkit-transform: rotateY(180deg);
}

/* -------------- ROTATE -------------- */
.rotate {
	-webkit-animation-duration: 1s;
}

.ng-leave.rotate {
	-webkit-animation-name: rotate-leave;
}

.ng-enter.rotate {
	-webkit-animation-name: rotate-enter;
}

@
-webkit-keyframes rotate-leave { 0% {
	-webkit-transform-origin: center center;
	-webkit-transform: rotate(0);
	opacity: 1;
}

100%
{
-webkit-transform-origin








:




 




center




 




center








;
-webkit-transform








:




 




rotate








(-180
deg






);
opacity








:




 




0;
}
}
@
-webkit-keyframes rotate-enter { 0% {
	-webkit-transform-origin: center center;
	-webkit-transform: rotate(-180deg);
	opacity: 0;
}

100%
{
-webkit-transform-origin








:




 




center




 




center








;
-webkit-transform








:




 




rotate








(-360
deg






);
opacity








:




 




1;
}
}

/* -------------- SIDE POPIN -------------- */
.slide-pop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.slide-pop.ng-enter,.slide-pop.ng-leave {
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.slide-pop.ng-enter {
	opacity: 0;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5);
}

.slide-pop.ng-enter-active {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.slide-pop.ng-leave {
	left: 0;
	opacity: .5;
}

.slide-pop.ng-leave-active {
	left: -100%;
	opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
	opacity: .5;
	left: -100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.reverse .page.slide-pop.ng-enter-active {
	opacity: 1;
	left: 0;
}

.reverse .page.slide-pop.ng-leave {
	opacity: .5;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	left: 0;
	right: 0;
}

.reverse .page.slide-pop.ng-leave-active {
	opacity: 0;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5);
}
/***** FADE ANIMATION *****/
.show-hide.ng-hide-add,.show-hide.ng-hide-remove {
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
	display: block !important;
}

.show-hide.ng-hide-add.ng-hide-add-active,.show-hide.ng-hide-remove {
	opacity: 0;
}

.show-hide.ng-hide-add,.show-hide.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

/** slide left **/
.slideLeft {
	transition-timing-function: ease;
	transition-duration: 500ms;
}

.slideLeft.ng-enter {
	transition-property: none;
	transform: translate3d(100%, 0, 0);
}

.slideLeft.ng-enter.ng-enter-active {
	transition-property: all;
	transform: translate3d(0, 0, 0);
}

.slideLeft.ng-leave {
	transition-property: all;
	transform: translate3d(0, 0, 0);
}

.slideLeft.ng-leave.ng-leave-active {
	transition-property: all;
	transform: translate3d(-100%, 0, 0);
}