html,body {
	overflow-x: visible !important;
}

.editownerspop .tab-content {
	border: 0px solid !important;
	margin-bottom: 0px !important;
}

.editownerspop .list-group .list-group-item {
	border-bottom-width: 0px !important;
}

.editownerspop .list-group-item:last-child {
	border-bottom-width: 1px !important;
}

.builderpagehead {
	font-size: 13px !important;
}

.builderpagefoot {
	font-size: 13px !important;
}

.page-title-breadcrumb {
	margin: -20px !important;
}

.hint {
	z-index: 1000000 !important;
}

.table {
	margin-bottom: 0px;
}

body.sidebar-collapsed #topbar .navbar-header {
	width: 250px !important;
}

.animated.ng-leave,.animated.ng-leave-active {
	display: none !important;
}

.settingsmodalbody {
	margin: 0px !important;
	padding: 0px !important;
}

.settingsmodalbody .tab-content {
	border: 0px !important;
	margin-bottom: -15px !important;
}

.settingsmodalbody>div>ul>li>a {
	border-top: 0 !important;
}

.modal-body {
	margin: 10px;
}

.paging1 {
	border-top: 0;
	background: transparent;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.wordWrap {
	overflow-wrap: break-word;
}

.noMargin {
	margin: 0px !important;
}

.noPadding {
	padding: 0px !important;
}

.scroll {
	overflow: auto;
}

.padding5 {
	padding: 5px !important;
}

.padding10 {
	padding: 10px !important;
}

.leftPadding15 {
	padding-left: 15px !important;
}

.leftPadding20 {
	padding-left: 20px !important;
}

.canvasContainer {
	position: relative;
	border: 1px solid #eee;
	background-color: rgb(255, 255, 255);
	border: 0;
	box-shadow: 0 0 0 1px #d1d1d1, 0 0 4px 1px #ccc;
	overflow: auto;
	font-size: 11px;
}

.canvasContainer2 {
	position: relative;
	background-color: rgb(255, 255, 255);
	overflow: auto;
	font-size: 11px;
}

.backCanvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.wfcreatorTitle {
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Example";
}

.wfElemJoinInitiator {
	padding: 5px;
}

.borderLeft {
	border-left: 1px solid #eee;
}

.borderRight {
	border-right: 1px solid #eee;
}

.borderTop {
	border-top: 1px solid #eee;
}

.borderBottom {
	border-bottom: 1px solid #eee;
}

.arrowPointer {
	cursor: default;
}

.movePointer {
	cursor: move;
}

.pointer {
	cursor: pointer !important;
}

.autoPointer {
	cursor: auto;
}

.accordion-toggle {
	cursor: pointer;
}

.chart {
	height: 400px !important;
}

.chart td {
	padding: 5px;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

.red {
	color: red;
}

ul.todo-list {
	margin-top: 10px;
	height: auto;
	overflow: auto;
}

.navSelected {
	background: rgb(222, 222, 222) !important;
}

.navSelected:hover {
	background: rgb(209, 209, 209) !important;
}

.navSelected a {
	color: black !important;
}

.navSelected a:hover {
	background: rgb(209, 209, 209) !important;
}

td .btn-danger {
	float: right;
}

.selectCharity {
	background-color: lightslategrey;
	color: white;
	font-size: 18px;
	font-weight: bolder;
	height: 40px;
}

.forgotPassword {
	width: 598px;
	margin-top: -25px;
}

.loginScreen {
	width: 221px;
	height: 44px;
}

.submitPassRequest {
	margin-top: 9px;
	width: 115px;
}

.fullheight {
	height: 100%;
	overflow: hidden;
}

.vcontainer {
	position: relative;
}

.loginvideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
}

.loginvideo2 {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100% !important;
	height: auto !important;
}

.timertriggerzone div {
	width: 100%;
}

.form-createtenant {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	background-color: rgba(240, 242, 245, 0.4);
}

.form-signin-heading {
	color: gainsboro;
	text-align: center;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.messagingDash {
	max-height: 500px;
	overflow-y: auto;
}

.table>tbody>tr.success>td {
	background-color: #dff0d8;
}

.ngHeaderCell {
	text-align: left !important;
}

.content {
	padding-top: 5px;
}

.noResize {
	resize: none;
}

.tooltip {
	white-space: nowrap !important;
}

.main {
	height: 95%;
}

.fillHeight {
	height: 100%;
}

.paddingZero {
	padding: 0px;
}

.marginZero {
	margin: 0px;
}

.displayBlock {
	display: block;
}

.loginHr {
	margin-left: -10px;
	margin-right: -10px;
}

.loginContainer {
	background: #eee;
}

.form-signin {
	margin-top: 50px;
}

.carousel-simple {
	background-image: none !important;
	color: grey !important;
}

.user-header {
	height: auto !important;
}

.modal {
	overflow-y: visible;
}

.appSwitcher {
	margin-top: 10px;
}

.dirdiv-height {
	max-height: 500px;
	overflow-y: scroll;
}

.viewDataGridParent {
	height: 70%;
}

.viewDataGrid {
	margin-top: 20px;
	border: 1px solid rgb(212, 212, 212);
	user-select: inherit !important;
	-o-user-select: inherit !important;
	-moz-user-select: inherit !important;
	-khtml-user-select: inherit !important;
	-webkit-user-select: inherit !important;
	height: 370px;
}

.inlineInput {
	display: inline-block;
	width: 50%;
}

.assignVideosInlineInput {
	display: inline-block;
	width: 40%;
}

.messagingInlineInput {
	display: inline-block;
	width: 30%;
}

.messageFilterDash {
	display: inline-block;
	width: 49%;
}

.inlinePanel {
	display: inline-block;
	width: 76%;
}

.cellClass {
	padding: 5px;
}

.cellClass2 {
	padding: 5px;
	text-align: center;
}

.submenucontainer {
	margin: 0;
	list-style-type: none;
}

.borderTop {
	border-top-width: 1px;
}

.rowPadding {
	padding-bottom: 20px;
}

.customlabelStyle {
	color: #444;
	display: compact;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
	min-height: 20px;
	padding: 0 1px;
	width: 150px;
}

.logout>a>span {
	color: white;
}

.logout>a {
	
}

.loading {
	width: 120px;
	height: 30px;
	margin-top: -3px;
	padding-top: 3px;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 50%;
	z-index: 100000;
	margin-left: -60px;
	font-size: 16px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid;
	background-color: yellow;
	background-color: yellow;
	color: #333;
	background-color: white;
	border-color: #adadad;
}

.triangle-isosceles-common {
	position: relative;
	padding: 15px;
	padding-bottom: 5px;
	margin: 15px;
	margin-bottom: 30px;
	border-radius: 10px;
	width: auto;
}

.triangle-isosceles-user {
	margin-right: 40%;
	color: #fff;
	background: #4a87ee;
	float: left;
}

.triangle-isosceles-user a {
	color: #fff;
	text-decoration: underline;
}

.triangle-isosceles-charity {
	margin-left: 40%;
	color: #000;
	background: #e0d3d2;
	float: right;
}

.triangle-isosceles-charity a {
	color: #000;
	text-decoration: underline;
}

/* Creates triangle */
.triangle-isosceles-common:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	width: 0;
	border-width: 10px 10px 0;
	border-style: solid;
}

.triangle-isosceles-charity:after {
	left: 80%;
	border-color: #e0d3d2 transparent;
}

.triangle-isosceles-user:after {
	left: 5%;
	border-color: #4a87ee transparent;
}

.labelStyle {
	color: #444;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
	min-height: 20px;
	padding: 0 1px;
}

.divider {
	width: 50px;
	height: auto;
	display: inline-block;
}

.viewUserData {
	margin-top: 20px;
	user-select: inherit !important;
	-o-user-select: inherit !important;
	-moz-user-select: inherit !important;
	-khtml-user-select: inherit !important;
	-webkit-user-select: inherit !important;
}

/*
::-webkit-scrollbar {
	width: 15px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
}

*/
.form-horizontal .control-label {
	text-align: left;
	margin-left: 5%;
}

/*phone case for demo*/
.ios-wrapper {
	overflow: hidden;
	background-image: url('../img/iphone5.png');
	background-repeat: no-repeat;
	padding: 145px 0px 0px 27px;
	width: 375px;
	height: 810px;
}

.splashimg img {
	margin: 0;
	width: 320px;
	height: 550px;
}

.iconimg {
	background-image: url('../img/ios7.png');
	margin: 0;
	width: 320px;
	height: 550px;
}

.iconimg img {
	background: #90C7DE;
	width: 64px;
	height: 64px;
	border-radius: 15px;
	overflow: hidden;
	position: absolute;
	margin-top: 182px;
	margin-left: 90px;
	-webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
	z-index: 10;
}

.iconimg .apptitle {
	font: bold 15px Tahoma;
	text-align: center;
	z-index: 200;
	position: relative;
	margin-left: -75px;
	padding-top: 245px;
	color: white;
}

.icon128 {
	display: block;
	float: left;
	text-align: center;
	margin-left: 10%;
}

.icon64 {
	display: block;
	float: left;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

.icon32 {
	display: block;
	float: left;
	text-align: center;
}

.icon128>img {
	border: 2px solid #666666;
	height: 128px;
	width: 128px;
}

.icon64>img {
	border: 2px solid #666666;
	height: 64px;
	width: 64px;
}

.icon32>img {
	border: 1px solid #666666;
	height: 32px;
	width: 32px;
}

#videoLoginBtn {
	position: relative;
	left: 100%;
	top: 2px;
	overflow: hidden;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.grpEdit input {
	height: 46px;
	line-height: 46px;
}

.grpEdit button {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
}