.btn-group>.btn:not (:first-child ):not (:last-child ):not(.dropdown-toggle) {
	border-radius: 0 !important;
}

.btn-group>.btn:first-child:not(:last-child ):not(.dropdown-toggle) {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.btn-group>.btn:last-child:not(:first-child ),.btn-group>.dropdown-toggle:not(:first-child) {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

#fullScreenDiv:-webkit-full-screen {
  width:100%;
  height:100%;
  padding: 10px;
  background: #f9f9f9;
}

.right-side{
	background: transparent !important;
}

.content{
	background: transparent !important;
}