::-webkit-scrollbar {
	width: 10px;
	height: 10px;

	/*
	background-color: #fff;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
	*/
}

::-webkit-scrollbar:hover {
	/*
	background-color: #eee;
	*/
}

::-webkit-resizer {
	-webkit-border-radius: 4px;
	background-color: #666;
}

::-webkit-scrollbar-thumb {
	min-height: 0.8em;
	min-width: 0.8em;
	background-color: rgba(0, 0, 0, .2);
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0
		rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-thumb:hover {
	/*
	background-color: #bbb;
	*/
}

::-webkit-scrollbar-thumb:active {
	/*
	background-color: #888;
	*/
}