paper-ripple {
	color: rgba(240, 242, 245);
}

#page-wrapper {
	background: rgba(240, 242, 245, 0.93) !important;
}

.loggedindiv {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;

	/*	background-size: 100% auto !important; */
}

/*
@media ( max-width : 1300px) {
	.loggedindiv {
		background-size: 1300px auto !important;
	}
}
*/
#topbar {
	background-color: transparent !important;
}

#wrapper {
	background-color: transparent !important;
}

#topbar .topbar-main {
	background: transparent !important;
}

#topbar .navbar-header {
	background: transparent !important;
}

#wrapper #sidebar {
	background: transparent;
}

#topbar .navbar-top-links li>a:hover,#topbar .navbar-top-links li>a:focus
	{
	background: rgba(240, 242, 245, 0.1) !important;
}

#topbar .navbar-top-links li.open>a:hover,#topbar .navbar-top-links li.open>a:focus
	{
	background: rgba(240, 242, 245, 0.2) !important;
}

#sidebar .sidebar-collapse {
	/*background-color: rgba(240, 242, 245, 0.2) !important;*/	
}

.navbar-static-side ul li {
	border-bottom: 1px solid rgba(240, 242, 245, 0.2);
}

.navbar-static-side ul li:not(.noglass){
	background: rgba(0,0,0,0.3) !important;
}
.navbar-static-side ul li a {
	color: white;
}

.navbar-static-side ul li a:hover,.navbar-static-side ul li a:focus {
	background-color: rgba(240, 242, 245, 0.2) !important;
}

.navbar-static-side ul li .nav-second-level li {
	border-bottom: 1px solid rgba(240, 242, 245, 0.4);
}

.navbar-static-side ul li .nav-second-level li a {
	background-color: rgba(240, 242, 245, 0.1) !important;
	color: white;
}

.navbar-static-side ul li .nav-second-level li a:hover {
	background-color: rgba(240, 242, 245, 0.2) !important;
	color: white;
}

@media ( max-width : 767px) {
	.topbar-main {
		display: none !important;
	}
}