<div class="chat-scroller" ng-init="getUserInvitedMeetings()">
	 <br/>
	 <div ng-if="module.if_mt_brief">
		 <div ng-include="'modules/g2webinar/myMeeting/g2webinarApiMeetings.html'"></div>
    </div>
    <div ng-if="module.if_join_form">
    	<div ng-include="'modules/g2webinar/myMeeting/g2webinarJoinMeetingForm.html'"></div>
    </div>
</div>