<div class="col-lg-5">
		<h3>Join Meeting: {{meeting.subject}}</h3>
		<br/>
        <input type="text" ng-model="registrant.firstName" class="form-control" placeholder="First Name">
		<br/>
        <input type="text" ng-model="registrant.lastName" class="form-control" placeholder="Last Name">
        <br/>
        <input type="text" ng-model="registrant.mail" class="form-control" placeholder="Email">
		<br/>
        <button type="button" class="btn btn-default" ng-click="joinMeeting()">Join</button>
        <button type="button" class="btn btn-default" ng-click="displayMeetingBrief()"> Back </button>	
</div>
