<module-ui-enabler
	name="messaging"
	ng-controller="G2WebinarAPIController">
	
<div pageheading>G2Webinar API Tester</div>
<div>
	<div class="row">
		<div ng-include="'modules/g2webinar/myMeeting/g2webinarApiMeetingFrame.html'"></div>
	</div>
</div>