<div class='col-lg-12' >
	<h2>{{module.meetingTitle}} </h2>
	<div ng-if="userInvitedMeetings.length > 0">
		<br/>
		<table class="table table-striped table-bordered table-hover">
	            <thead>
	                <tr><th>Meeting</th><th>Start Time</th><th>End Time</th><th>Join Status</th></tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="m in userInvitedMeetings">
	                	<td>
	                		<a ng-click="getSingleMeeting(m.webinarKey)">{{m.subject}}</a>
	                	</td>
	                	<td ng-repeat="t in m.times"> {{t.startTime}}</td>
	                	<td ng-repeat="t in m.times"> {{t.endTime}}</td>     
	                	<td>
	                		<button ng-if="!m.joinUrl" type="button" class="btn btn-default" ng-click="showJoinMeetingForm(m.id, m.organiserUid, m.webinarKey, m.subject)"> Join </button>
	                		<p ng-if="m.joinUrl">
	                			<a href="{{m.joinUrl}}">{{m.joinUrl}}</a>
	                		<p>
	                	</td>
	                </tr>
	            </tbody>
    	</table>
    </div>
</div>