<div class="row">
	<!-- Header -->
	<div class="col-xs-8">
		<div class="panel" ng-repeat="data in companiesUpdates | orderBy: '-timestamp' |filter:{'type':'share'}| limitTo:module.limit_companyUpdates">
			<div class="panel-body">
				<div class="col-md-2">
					<img src="{{data['company']['logo-url']}}"/>
				</div>
				<div class="col-md-10">
					<!-- Job Update -->
					<div class="col-md-12" ng-if="data['update-content']['company-job-update']">
						<div>
							<h4 style="margin-top:-5px;">
								<b>Job:
									<a href="{{data['update-content']['company-job-update']['job']['site-job-request']['url']}}">
										{{data['update-content']['company-job-update']['job']['position']['title']}}
									</a>
								</b>
							</h4>
							<p>Location: {{data['update-content']['company-job-update']['job']['location-description']}}</p>
						</div>
						<div>
							{{data['update-content']['company-job-update']['job']['description']}}
						</div>
					</div>
					
					<!-- Share Update -->
					<div class="col-md-12" ng-if="data['update-content']['company-status-update']">
						<h5 style="margin-top:-5px;">
							{{data['update-content']['company-status-update']['share']['comment']}}
						</h5>
						<div class='col-md-4'>
							<div class='thumbnail'>
      							<img src="{{data['update-content']['company-status-update']['share']['content']['submitted-image-url']}}" alt="Image">
   							</div>
						</div>
						<div class='col-md-8' style="margin-top:-10px">
							<h4>
								<a href="{{data['update-content']['company-status-update']['share']['content']['eyebrow-url']}}">
									<b>{{data['update-content']['company-status-update']['share']['content']['title']}}</b>
								</a>
							</h4>
							<p>
								{{data['update-content']['company-status-update']['share']['content']['description']}}
							</p>
						</div>
					</div>
					
					<!-- Liked -->
					<div class="col-md-12">
						<h5>
							<a ng-click="addLike('company','like', data.['update-key'])" ng-if="!data['is-liked'] && data['is-likable']">
								Like ({{data['num-likes']}})
							</a> 
							<a  ng-click="error('Already liked!')" ng-if="!(!data['is-liked'] && data['is-likable'])">
								<b> Like ({{data['num-likes']}})</b>
							</a>
							- Comment({{data['update-comments']['total']}}) -
							<a ng-click="addShare(data)">
								Share
							</a>
							- {{date(data['timestamp'])}}
						</h5>
					</div>
					
					<!-- comment editor  -->
					<div style="background-color:#F8F8F8; margin-left:10px" class="col-md-12">
						
						<div style="margin-top:10px;" class="row" ng-if="data.likes.like.length > 0">
							<div class="col-md-1">
								<span class='glyphicon glyphicon-thumbs-up'></span>
							</div>
							<div class="col-md-11">
								<div class="col-md-12">
									<ul  class="nav nav-pills">
										<li style="font-size:15px" ng-repeat="person in data.likes.like">
											{{person['person']['first-name'] + " " + person['person']['last-name'] + ", "}}
										</li>
									</ul>	
								</div>
							</div>	
							<br/>
							<hr>
						</div>
						
						<div  class="row" ng-if="data['update-comments']['total'] > 0">
							<div class='col-md-1'>
								<span class='glyphicon glyphicon-comment'></span>
							</div>
							
							<div class="col-md-11" ng-if="data['update-comments']['total'] == 1">
								<div class="col-md-1">
									<img ng-if="!data['update-comments']['update-comment']['person']['picture-url']" style='width:32px' src='core/img/linkedin_icon.jpg' />
									<img ng-if="data['update-comments']['update-comment']['person']['picture-url']" style='width:32px' src="{{data['update-comments']['update-comment']['person']['picture-url']}}" />
								</div>
								<div class="col-md-11" style="margin-top:-5px">
									{{data['update-comments']['update-comment']['comment']}}
								</div>
							</div>
							
							<div class="col-md-11" ng-if="data['update-comments']['total'] > 1" >
								<div  ng-repeat="comment in data['update-comments']['update-comment'] | orderBy:'-timestamp' | limitTo:2">
									<div class="col-md-1">
										<img ng-if="!comment['person']['picture-url']" style='width:32px' src='core/img/linkedin_icon.jpg' />
										<img ng-if="comment['person']['picture-url']" style='width:32px' src="{{comment['person']['picture-url']}}" />
									</div>
									<div class="col-md-11" style="margin-top:-5px">
										{{comment['comment']}}
									</div>
									<br/><br/>
								</div>
							</div>
						</div>
						
						<div ng-if="data['is-commentable']" style="text-align:right">
							<br/>
							<input class="col-md-12" type="text" ng-model='comment.comment' placeholder="Add Comment"/>
							<br/><br/>	
	
							<button class="btn btn-sm btn-primary"
									ng-click="addComment(data,'company')"
									ng-disabled="!comment.comment">
								Add comment
							</button>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a style="text-align:center" ng-if="companiesUpdates.length > 0" ng-click='module.limit_companyUpdates = module.limit_companyUpdates +3'>
			<h5>
				<b>Show more updates</b>
			</h5>
		</a>
	</div>

	<div class="col-md-4">
		<div class="panel" ng-repeat='company in companies | limitTo:module.limit_company'>
			<div class="panel-body" >
				<div class='col-md-4'>
					<img ng-click="viewCompany(company.id)" src="{{company['logo-url']}}">
				</div>
				<div class='col-md-8' style="margin-top:-15px">
					<h4><b>{{company['name']}}</b></h4>
					<h6>{{company['industries']['industry']['name']}}</h6>
					<p>
						<span style="color:green" class="glyphicon glyphicon-ok"></span>
						Followed
					</p>
				</div>
				
			</div>
		</div>
		<div class="col-md-12" style="background-color:#F8F8F8; text-align:center">
			<a ng-click="module.limit_company = module.limit_company + 3">
				<h3><b>More</b></h3>
			</a>
		</div>
	</div>
</div>

