<div>
	<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <div class="row">
    	<div class='col-md-3'>
    		<img src="{{company['logo-url']}}">
    	</div>
    	<div class='col-md-6'>
    		<h2 class="modal-title">{{company.name}}</h2>
    	</div>
    	<div class='col-md-3'>
    		{{company['num-followers'] + " followers"}}
    	</div>
    </div>
</div>
<div class="modal-body">
	<div class="row">
		<div class='col-md-12'>
			<h5><b>Description</b></h5>	
			{{company.description}}
		</div>
	</div>
	
	<div class="row" ng-if="company.specialties.specialty">
		<div class='col-md-12'>
			<h5><b>Specialties</b></h5>	
		</div>
		<div class='col-md-12'>
			
			<ul  class="nav nav-pills">
				<li style="font-size:15px" ng-repeat="specialty in company.specialties.specialty">
					{{specialty + ", "}}
				</li>
			</ul>	
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<h5><b>Website</b></h5>
			{{company['website-url']}}
		</div>
		<div class="col-md-4">
			<h5><b>Industry</b></h5>
			{{company.industries.industry.name}}
		</div>
		<div class="col-md-4">
			<h5><b>Type</b></h5>
			{{company['company-type']['name']}}
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<h5><b>Headquarters</b></h5>
		</div>
		<div class="col-md-4">
			<h5><b>Company Size</b></h5>
			{{company['employee-count-range']['name'] + " employees"}}
		</div>
		<div class="col-md-4">
			<h5><b>Founded</b></h5>
			{{company['founded-year']}}
		</div>
	</div>
</div>
<div class="modal-footer" style="text-align:center">
	<button class='btn btn-sm btn-primary'  ng-click="follow('follow', company['id'])">
		followed
	</button>
</div>