<module-ui-enabler name="dropbox" ng-controller="DropboxController">

<div pageheading>{{module.title}}</div>

<div class="row" ng-init="files('/', false)">
	<div class="col-lg-12">
		<feature-ui-enabler name="files">
		<div ng-include="'modules/dropbox/filesFragment.html'"></div>
		</feature-ui-enabler>
	</div>
	<div>
		<div class="col-lg-12" ng-hide="isRoot">
			<h4>Return to previous path:</h4>
		</div>
		<div class="col-lg-12" ng-hide="isRoot">
			<button type="button" class="btn btn-default btn-green"
				ng-click="back()">Back</button>
		</div>
		<div class="col-lg-12">
			<h4>Upload a file to current path:</h4>
		</div>
		<form method="post" id="fromFileUpload" enctype="multipart/form-data"
			ng-submit="continueFileUpload()">
			<div class="form-group">
				<div>
					<div class="col-xs-4 input-max controls ">
						<input class="inline-block" type="file" name="file"
							ng-model="file" data-rule-required="true" id="file">
					</div>
					<span id="vaildFile" class="text-success icon-ok hide">Valid
						File</span> <span id="invalidFile" class="text-error icon-remove hide">
						Invalid File</span>
				</div>
				<div>
					<div class="actions">
						<button type="submit" class="btn btn-primary">
							<i class="icon-arrow-right"></i> Continue
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</module-ui-enabler>

