<div class="row page-title-breadcrumb">
	<div class="col-lg-12">
		<div class=" page-header pull-left">
			<div class="page-title">Dashboard</div>
		</div>
	</div>
</div>

<br />

<div class="row ">
	<div class="col-lg-12">Add dashboard items here</div>
</div>