<module-ui-enabler name="slack" ng-controller="SlackController">

<div pageheading>{{module.title}}</div>

<div ng-init="channels()" class="row">
	<div class="col-lg-12">		
		<feature-ui-enabler name="channels" ng-if="showChannels">
			<div ng-include="'modules/slack/channelsFragment.html'"></div>
		</feature-ui-enabler>
		<feature-ui-enabler name="channel" ng-if="!showChannels">
			<div ng-include="'modules/slack/channelFragment.html'"></div>
		</feature-ui-enabler>
	</div>
</div>

</module-ui-enabler>

