<h3>
	<b>Available Channels</b>
</h3>
<div class="row">
	<div class="col-lg-8">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="c in slackChannels.channels"><img
								src="core/img/slack_icon.png" class="avatar img-responsive">
								<div class="message">
									<span class="chat-arrow"></span><b>Name: </b><a
										href="javascript:void(0);" class="chat-name">
										{{c.name}}</a>&nbsp; <br /> <b>Channel ID: </b><a
										href="#/slack/channels?id={{c.id}}&name={{c.name}}" class="chat-name">
										{{c.id}}</a>&nbsp; <span class="chat-body"> <b># Members:</b>
										{{c.num_members}}
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
