<h3>
	<b>Channel {{currentChannelName}} History</b>
</h3>
<div>
	<div class="col-lg-10 form">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="me in slackChannel.messages"><img
								src="{{me.userInfo.user.profile.image_32}}"
								class="avatar img-responsive">
								<div class="message">
									<span class="chat-arrow"></span><b>User: </b><a
										href="javascript:void(0);" class="chat-name">
										{{me.userInfo.user.name}}</a>&nbsp; <br /> <span
										class="chat-body"> <b>Text:</b> {{me.text}}
									</span>
								</div></li>
						</ul>
					</div>
					<div class="chat-form">
						<div class="input-group">
							<input ng-keyup="$event.keyCode == 13 ? postComment() : null"
								type="text" ng-model="slack.comment" class="form-control"
								placeholder="Type your comment here" /> <span id="btn-chat"
								class="input-group-btn">
								<button type="button" ng-click="postComment()"
									class="btn btn-green">
									<i class="fa fa-check"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<h4>Upload a file to current channel:</h4>
		</div>
		<form method="post" id="fromFileUpload" enctype="multipart/form-data"
			ng-submit="continueFileUpload()">
			<div class="form-group">
				<div>
					<div class="col-xs-4 input-max controls ">
						<input class="inline-block" type="file" name="file"
							ng-model="file" data-rule-required="true" id="file">
					</div>
					<span id="vaildFile" class="text-success icon-ok hide">Valid
						File</span> <span id="invalidFile" class="text-error icon-remove hide">
						Invalid File</span>
				</div>
				<div class="box-header">
					<div class="actions">
						<button type="submit" class="btn btn-primary">
							<i class="icon-arrow-right"></i> Continue
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>