<module-ui-enabler name="slack" ng-controller="SlackController">

<div pageheading>{{module.title}}</div>

<div ng-init="files()">
	<div class='col-lg-12'>
		<h2>List of Files</h2>
		<br />
		<table ng-table="tableParams"	
			class="table table-striped table-bordered table-hover"
			template-pagination="modules/slack/templates/ngTableTemplates.html">
			<thead>
				<tr>
					<th class='col-lg-2'>Snapshot</th>
					<th class='col-lg-2'>Title</th>
					<th class='col-lg-2'>Name</th>
					<th class='col-lg-2'>File Type</th>
					<th class='col-lg-2'>Download</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="f in $data">
					<td><img src="{{f.thumb_64}}" /></td>
					<td>{{f.title}}</td>
					<td>{{f.name}}</td>
					<td>{{f.filetype}}</td>
					<td><a href="{{f.url_download}}"> Click here </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>