<module-ui-enabler name="slack" ng-controller="SlackController">

<div pageheading>{{module.title}}</div>

<div class="row">
	<div class="col-lg-12">
		<h3>
			<b>Query messages</b>
		</h3>
		<h4>
			<p>Can include boolean operators</p>
		</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="row form-inline">
					<input type="text" ng-model="query.params"
						class="form-control" placeholder="Query">
					<button type="button" class="btn btn-default"
						ng-click="searchMessages()">Search</button>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<br />
		</div>
		<div class="row">
			<div class="col-lg-10">
				<div class="portlet box">
					<div class="portlet-body">
						<div>
							<div class="chat-scroller">
								<ul class="chats">
									<li class="in" ng-repeat="me in messagesResults.messages.matches"><img
										src="{{me.userInfo.user.profile.image_32}}" class="avatar img-responsive">
										<div class="message">
											<span class="chat-arrow"></span><b>User: </b><a
												href="javascript:void(0);" class="chat-name">
												{{me.username}}</a>&nbsp; <span class="chat-body"> <b>Text:</b>
												{{me.text}}
											</span>
										</div></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</module-ui-enabler>