<module-ui-enabler name="slack" ng-controller="SlackController">

<div pageheading>{{module.title}}</div>

<div class="row">
	<div class="col-lg-12">
		<h3>
			<b>Query files</b>
		</h3>
		<h4>
			<p>Can include boolean operators</p>
		</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="row form-inline">
					<input type="text" ng-model="query.id" class="form-control"
						placeholder="Id">
					<button type="button" class="btn btn-default"
						ng-click="searchFiles()">Search</button>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<br />
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="portlet box">
					<div class="portlet-body">
						<div>
							<div class="chat-scroller">
								<ul class="chats">
									<li class="in" ng-repeat="f in filesResults.files.matches"><img
										src="{{f.thumb_64}}" class="avatar img-responsive">
										<div class="message">
											<span class="chat-arrow"></span><b>Title: </b><a
												href="{{f.url_download}}" class="chat-name"> {{f.title}}</a>&nbsp;
											<span class="chat-body"> <b>Name:</b> {{f.name}}
											</span>
										</div></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</module-ui-enabler>