<module-ui-enabler name="slack" ng-controller="SlackController">

<div pageheading>{{module.title}}</div>

<div ng-init="teamMembers()">
	<div class='col-lg-12'>
		<h2>Team Members</h2>
		<br />
		<table ng-table="tableParams"
			class="table table-striped table-bordered table-hover"
			template-pagination="modules/slack/templates/ngTableTemplates.html"
			>
			<thead>
				<tr>
					<th class='col-lg-2'>Photo</th>
					<th class='col-lg-2'>Nickname</th>
					<th class='col-lg-2'>Real Name</th>
					<th class='col-lg-2'>Email</th>
					<th class='col-lg-2'>Phone</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tm in $data">
					<td><img src="{{tm.profile.image_32}}" /></td>
					<td>{{tm.name}}</td>
					<td>{{tm.profile.real_name}}</td>
					<td>{{tm.profile.email}}</td>
					<td>{{tm.profile.phone}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>