<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="cancel()">&times;</button>
	<div class="row">
		<div class="col-xs-8">
			<b>
				<h3>Create Shared Folder Link</h3>
			</b>
		</div>
	</div>
</div>

<div class="modal-body">
	<form name="repForm" ng-submit="add('sharedFolder')">
		<table class="table table-striped table-bordered table-hover">
			<tbody>
				<tr>
					<td><b>Name</b></td>
				</tr>
				<tr>
					<td>{{sharedFolder.name}}</td>
				</tr>
				<tr>
					<td><b>Can Download</b></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="canDownload"
						ng-model="sharedFolder.canDownload" class="form-control" required /></td>
				</tr>
				<tr>
					<td><b>Can Preview</b></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="canPreview"
						ng-model="sharedFolder.canPreview" class="form-control" required /></td>
				</tr>
			</tbody>
		</table>
		<div align="right">
			<button type="submit" class="btn btn-default btn-blue">Save</button>
		</div>
	</form>
</div>
