<h3>
	<b>Current folder: {{showCurrentFolder}}</b>
</h3>
<div class="row">
	<div class="col-lg-6">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="f in googledriveFiles"><span ng-switch
								on="f.is_file"> <img ng-switch-default
									src="core/img/document_icon.png" class="avatar img-responsive">
									<img ng-switch-when="false" src="core/img/folder_icon.png"
									class="avatar img-responsive">
							</span>
								<div class="message">
									<span class="chat-arrow"></span><b>File Name: </b><a
										href="javascript:void(0)" class="chat-name"> {{f.name}}</a>&nbsp;
									<span class="chat-body"> <b>Description:</b>
										{{f.description}}
									</span>									
								</div> <span style="float: right">									
									<button data-hint="Rename {{f.name}}" ng-if="!f.is_file"
										style="float: left;" class="btn hint--left btn-blue"
										ng-click="renameFolder(f.id, f.name)">Rename</button>
									<button data-hint="Go inside {{f.name}}" ng-if="!f.is_file"
										style="float: right;" class="btn hint--left btn-green"
										ng-click="files(f.id, f.name, f.is_file, f.parentId)">
										></button>
									<button data-hint="Download {{f.name}}" ng-if="f.is_file"
										style="float: right;" class="btn hint--left btn-green"
										ng-click="files(f.id, f.name, f.is_file, f.parentId)">
										v</button>
									<button data-hint="Delete {{f.name}}"
										class="btn btn-danger hint--left"
										ng-click="deleteFile(f.id, f.is_file)">
										<span class="fa fa-trash-o"></span>
									</button>
							</span></li>
						</ul>
					</div>
					<div>
						<button type="button" ng-click="createFolder()"
							class="btn btn-green">Create new folder</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
