<div ng-style="menuinstance.getMenuStyle(menuinstance)">
	<nvd3-pie-chart
		data="menuinstance.data"
		id="wfradialmenu"
		width="320"
		height="320"
		x="menuinstance.xFunction()"
		y="menuinstance.yFunction()"
		tooltipcontent="menuinstance.toolTipContentFunction()"
		donut="true"
		donutRatio=".25"
		showLabels="true"
		tooltips="false"> <svg></svg></nvd3-pie-chart>
</div>