<div class="row form">
	<div class="col-lg-6">
		<input type="text" ng-model="user.mail" class="form-control" placeholder="Email"/>
		<br/>
   	 	<input type="password" ng-model="user.pwd" class="form-control" placeholder="Password"/>
   	 	<br/>
   	 	<button type="button" class="btn btn-default" ng-click="signG2Webinar()"> Sign In </button>
    </div>
</div>