<module-ui-enabler
	name="messaging"
	ng-controller="G2WebinarAPIController">
	
<div pageheading>G2Webinar API Tester</div>
<div ng-init="getOAuth()">
	<div ng-if="!oauth.accessToken">
		<div ng-include="'modules/g2webinar/myWebinar/g2webinarSignin.html'"></div>
	</div>

	<div ng-if="oauth.accessToken" class="row">
		<div ng-include="'modules/g2webinar/myWebinar/g2webinarApiWebinarFrame.html'"></div>
	</div>
</div>