<div class='col-lg-10' ng-init="getAllUser()">
	<h2>{{module.webinarTitle}} </h2>           	
	<br/>
	<table ng-if="meetings.length > 0" class="table table-striped table-bordered table-hover"  ng-repeat="ms in meetings">
            <thead>
                <tr><th>Meeting</th><th>Start Time</th><th>End Time</th><th>Join</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in ms">
                	<td>
                		<a ng-click="getSingleMeeting(m.webinarKey)">{{m.subject}}</a>
                	</td>
                	<td ng-repeat="t in m.times"> {{t.startTime}}</td>
                	<td ng-repeat="t in m.times"> {{t.endTime}}</td>     
                	<td>
                		<button type="button" class="btn btn-default" ng-click="showInvitationForm(m.organiserId, m.webinarKey, m.subject)"> Invite </button>	
                	</td>
                </tr>
            </tbody>
    </table>
</div>