<div class="col-lg-6">
		<h3>Invite people join meeting: {{userInvitedMeetings.subject}}</h3>
		<br/>
		<select class="selectize-dropdown form-control" ng-model="userInvitedMeetings.userName" ng-options="x.name for x in users">
			 <option value="">-- Choose User --</option>
		</select>
		<br/>
        
        <button type="button" class="btn btn-default" ng-click="inviteUserIntoMeeting()">Send Invitation</button>
        <button type="button" class="btn btn-default" ng-click="displayMeetingBrief()"> Back </button>	
</div>
