<div class="chat-scroller" ng-init="listMeetings()">
	 <br/>
	 <div ng-if="module.if_mt_brief">
		 <div ng-include="'modules/g2webinar/myWebinar/g2webinarApiWebinars.html'"></div>
    </div>
    <div ng-if="module.if_mt_detail">
    	<div ng-include="'modules/g2webinar/myWebinar/g2webinarApiSingleWebinar.html'"></div>
    </div>
    <div ng-if="module.if_invite_form">
    	<div ng-include="'modules/g2webinar/myWebinar/g2webinarInvitationForm.html'"></div>
    </div>
</div>