<div ng-init="getRegistrants(meeting.webinarKey)">
	<div class="col-lg-10">
	 	<button type="button" class="btn btn-default" ng-click="displayMeetingBrief()"> Back </button>	
	 	<h3>The conference details</h3>
		<table class="table table-striped table-bordered table-hover">
	    	<tbody>
	        	<tr>
	        		<td class="col-lg-4">Title</td>
	        		<td>{{meeting.subject}}</td>
	        	</tr>
	        	<tr>
	        		<td>Description</td>
	        		<td>{{meeting.description}}</td>
	        	</tr>
	        	<tr>
	        		<td>Date and Time</td>
	        		<td ng-repeat="t in meeting.times"> {{t.startTime}} - {{t.endTime}}</td>
	        	</tr>
	        	<tr>
	        		<td>Time Zone</td>
	        		<td>{{meeting.timeZone}}</td>
	        	</tr>
	        	<tr>
	        		<td>Register URL</td>
	        		<td>
	        			<a href="{{meeting.registrationUrl}}">{{meeting.registrationUrl}}</a>
	        		</td>
	        	</tr>
	        </tbody>
	    </table>
    </div>
 
    <div class="col-lg-10" ng-if="registrants.length > 0">
 	   	<h4> Registrants for "{{meeting.subject}}" </h4>
 	   	<table class="table table-striped table-bordered table-hover">
 	   		<thead>
                <tr><th>Registrants</th><th>Email Address</th><th>Registration Date&Time</th><th>Join URL</th></tr>
            </thead>
	    	<tbody>
	    		<tr ng-repeat="rgt in registrants">
		    		<td>{{rgt.lastName}}.{{rgt.firstName}}</td>
		    		<td>{{rgt.registrantEmail}}</td>
		    		<td>{{rgt.registrantDate}}</td>
		    		<td>{{rgt.joinUrl}}</td>
		    	</tr>
	    	</tbody>
	    </table>
    </div>
</div>