<h3>
	<b>Available Tasks</b>
</h3>
<div class="row">
	<div class="col-lg-6">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="t in asanaTasks.data"><img
								src="core/img/asana_icon.png" class="avatar img-responsive">
								<div class="message">
									<span class="chat-arrow"></span><b>Project: </b><a
										href="javascript:void(0);" class="chat-name">
										{{t.projectName}}</a>&nbsp; <br /> <b>Task ID: </b><a
										href="#/asana/tasks?id={{t.id}}" class="chat-name">
										{{t.id}}</a>&nbsp; <span class="chat-body"> <b>Name:</b>
										{{t.name}}
									</span>
								</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
