<module-ui-enabler name="asana" ng-controller="AsanaController">

<div pageheading>{{module.title}}</div>

<div ng-init="tasks()" class="row">
	<div class="col-lg-12">		
		<feature-ui-enabler name="tasks" ng-if="showTasks">
			<div ng-include="'modules/asana/tasksFragment.html'"></div>
		</feature-ui-enabler>
		<feature-ui-enabler name="task" ng-if="!showTasks">
			<div ng-include="'modules/asana/taskFragment.html'"></div>
		</feature-ui-enabler>
	</div>
</div>

</module-ui-enabler>

