<div>
	<div class="col-lg-6 form">
		<h3>
			<b>Task {{asanaTask.data.id}}</b>
		</h3>
		<table class="table table-striped table-bordered table-hover">
			<tbody>
				<tr>
					<td><b>Name</b></td>
				</tr>
				<tr>
					<td><input type="text" ng-model="asanaTask.data.name"
						class="form-control" placeholder="Name" /></td>
				</tr>
				<tr>
					<td><b>Notes</b></td>
				</tr>
				<tr>
					<td><input type="text" ng-model="asanaTask.data.notes"
						class="form-control" placeholder="Notes" /></td>
				</tr>
				<tr>
					<td><b>Workspace</b></td>
				</tr>
				<tr>
					<td>{{asanaTask.data.workspace.id}}</td>
				</tr>
				<tr>
					<td><b># of Favorites</b></td>
				</tr>
				<tr>
					<td>{{asanaTask.data.num_hearts}}</td>
				</tr>
				<tr>
					<td><b>Completed</b></td>
				</tr>
				<tr>
					<td>{{asanaTask.data.completed}}</td>
				</tr>
			</tbody>
		</table>
		<div align="right">
			<button type="button" class="btn btn-default" ng-click="saveTask()">Save</button>
			<button type="button" class="btn btn-default" ng-click="displayTasks()">Back</button>
		</div>
	</div>
	<div>
		<br />
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="portlet box">
				<div class="portlet-body">
					<div>
						<div class="chat-scroller">
							<ul class="chats">
								<li class="in" ng-repeat="s in asanaTask.stories.data"><img
									src="core/img/avatar.gif" class="avatar img-responsive">
									<div class="message">
										<span class="chat-arrow"></span><b>User: </b><a
											href="javascript:void(0);" class="chat-name">
											{{s.created_by.name}}</a>&nbsp; <span class="chat-body"> <b>Text:</b>
											{{s.text}}
										</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="chat-form">
							<div class="input-group">
								<input
									ng-keyup="$event.keyCode == 13 ? sendComment() : null"
									type="text"
									ng-model="comment.comment"
									class="form-control"
									placeholder="Type your comment here" /> <span
									id="btn-chat"
									class="input-group-btn">
									<button
										type="button"
										ng-click="sendComment()"
										class="btn btn-green">
										<i class="fa fa-check"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>