<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="cancel()">&times;</button>
	<div class="row">
		<div class="col-xs-4">
			<b>
				<h3>Create or Modify Issue</h3>
			</b>
		</div>
	</div>
</div>

<div class="modal-body">
	<form name="repForm" ng-submit="add('issue')">
		<table class="table table-striped table-bordered table-hover">
			<tbody>
				<tr>
					<td><b>Title</b> <span class="error"
						ng-show="repForm.title.$error.required"> *</span></td>
				</tr>
				<tr>
					<td><input type="text" name="title" ng-model="issue.title"
						class="form-control" placeholder="" required /></td>
				</tr>
				<tr>
					<td><b>Content</b> <span class="error"
						ng-show="repForm.content.$error.required"> *</span></td>
				</tr>
				<tr>
					<td><input type="text" name="content" ng-model="issue.content"
						class="form-control" placeholder="" required /></td>
				</tr>
				<tr>
					<td><b>Responsible</b><span class="error"
						ng-show="repForm.responsible.$error.required"> *</span></td>
				</tr>
				<tr>
					<td><input type="text" name="responsible"
						ng-model="issue.responsible" class="form-control" placeholder=""
						required /></td>
				</tr>
			</tbody>
		</table>
		<div align="right">
			<button type="submit" class="btn btn-default btn-blue">Save</button>
		</div>
	</form>
</div>
