<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="cancel()">&times;</button>
	<div class="row">
		<div class="col-xs-4">
			<b>
				<h3>Create Repository</h3>
			</b>
		</div>
	</div>
</div>

<div class="modal-body">
	<form name="repForm" ng-submit="add('repository')">
		<table class="table table-striped table-bordered table-hover">
			<tbody>
				<tr>
					<td><b>Name</b> <span class="error"
						ng-show="repForm.name.$error.required"> *</span></td>
				</tr>
				<tr>
					<td><input type="text" name="name" ng-model="repository.name"
						class="form-control" placeholder="" required /></td>
				</tr>
				<tr>
					<td><b>Description</b> <span class="error"
						ng-show="repForm.description.$error.required"> *</span></td>
				</tr>
				<tr>
					<td><input type="text" name="description"
						ng-model="repository.description" class="form-control"
						placeholder="" required /></td>
				</tr>
				<tr>
					<td><b>Is private</b></td>
				</tr>
				<tr>
					<td><input type="checkbox" name="is_private"
						checked="repository.is_private" ng-model="is_private"
						class="form-control" /> Limited number if is a free account</td>
				</tr>
			</tbody>
		</table>
		<div align="right">
			<button type="submit" class="btn btn-default btn-blue">Save</button>
		</div>
	</form>
</div>
