<h3>
	<b> Active Repositories </b>
</h3>
<div class="row">
	<div class="col-lg-6">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="rep in bitbucketRepositories"><img
								src="core/img/repository_icon.png" class="avatar img-responsive">
								<div class="message">
									<span class="chat-arrow"></span><b>Name: </b><a
										href="javascript:void(0);" class="chat-name"> {{rep.name}}</a>&nbsp;
									<br /> <b>Repository ID: </b><a href="javascript:void(0);"
										class="chat-name"> {{rep.uuid}}</a>&nbsp; <span
										class="chat-body"> <b>Scm:</b> {{rep.scm}} &nbsp; <br />
										<b>Owner:</b> {{rep.owner.username}}
										<button data-hint="Show issues of {{rep.name}}"
											style="float: right;" class="btn hint--left"
											ng-click="issues(rep.owner.username, rep.name)">Show
											issues</button>
										<button data-hint="Show events of {{rep.name}}"
											style="float: right;" class="btn hint--left"
											ng-click="events(rep.owner.username, rep.name)">Show
											events</button>
									</span>
								</div></li>
						</ul>
					</div>
					<div>
						<button type="button" ng-click="createRepository()"
							class="btn btn-green">Create new repository</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<feature-ui-enabler name="notifications"
		ng-if="showRepositoryNotificationsContent">
	<div ng-include="'modules/bitbucket/repositoryNotificationsFragment.html'"></div>
	</feature-ui-enabler>
	<feature-ui-enabler name="issues" ng-if="showRepositoryIssuesContent">
	<div ng-include="'modules/bitbucket/repositoryIssuesFragment.html'"></div>
	</feature-ui-enabler>
</div>
