<div class="col-lg-6">
	<div class="portlet box">
		<div class="portlet-body">
			<div>
				<h3>
					<b> Repository: {{showCurrentRepository}} </b>
				</h3>
				<h4>
					<b>Unread notifications</b>
				</h4>
				<div class="chat-scroller">
					<ul class="chats">
						<li class="in"
							ng-repeat="ev in bitbucketRepositoryEvents.events"><img
							src="core/img/slack_icon.png" class="avatar img-responsive">
							<div class="message">
								<span class="chat-arrow"></span><b>Event: </b><a
									href="javascript:void(0);" class="chat-name">
									{{ev.event}}</a>&nbsp; <br /> <b>Node: </b><a
									href="javascript:void(0);" class="chat-name"> {{ev.node}</a>&nbsp;
								<span class="chat-body"> <b>Description:</b> {{ev.description}}
								</span>
							</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>