<module-ui-enabler name="bitbucket" ng-controller="BitbucketController">

<div pageheading>{{module.title}}</div>

<div class="row" ng-init="repositories()">
	<div class="col-lg-12">
		<feature-ui-enabler name="repositories">
		<div ng-include="'modules/bitbucket/repositoriesFragment.html'"></div>
		</feature-ui-enabler>
	</div>	
</module-ui-enabler>

