<div ng-controller="XeroApiController" ng-init="connXero()">
	<div pageheading>{{module.title}}</div>

	<div ng-if="module.display_conn_config">
		<div ng-include="'modules/xero/XeroConnConfiguration.html'"></div>
	</div>
	
	<div class="row" ng-if="!module.display_conn_config">
		<div ng-include="'modules/xero/XeroButtons.html'"></div>
		
		<!-- BankSummary -->
		<div class="col-lg-12" ng-if="module.display_bankSummary">
			<div ng-include="'modules/xero/bank/XeroBankSummary.html'"></div>
		</div>
		
		<!-- Bank Transactions -->
		<div class="col-lg-12" ng-if="module.display_bankTrans">
			<div ng-include="'modules/xero/bank/XeroBankTransactions.html'"></div>
		</div>
		
		<!-- Accounts -->
		<div class="col-lg-12" ng-if="module.display_account">	
			<div ng-include="'modules/xero/account/XeroAccounts.html'"></div>
		</div>
		
		<!-- Invoice -->
		<div class="col-lg-12" ng-if="module.display_invoice">	
			<div ng-include="'modules/xero/invoice/XeroInvoices.html'"></div>
		</div>
	</div>
	
</div>