<div style="padding-left:15px">
	<div class="btn-group">
		<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			My Xero
		</button>
	  	<ul class="dropdown-menu" role="menu">
		    <li><a ng-click="displayControl('display_conn_config')">Change my organization</a></li>
	  	</ul>
	</div>
	
	<!-- Manage Invoices -->
    <button
		data-hint="Retrieve Invoices"
		class="hint--left btn btn-sm btn-success"
		ng-click="getInvoices()">
		Invoices
	</button>
	
	<!-- Bank Trans-->
    <button
		data-hint="Bank Trans"
		class="hint--left btn btn-sm btn-warning"
		ng-click="getAllBankTrans()">
		Bank Transactions
	</button>
	
	<!-- Manage Accounts -->
	<button
		class="hint--left btn btn-sm btn-info"
		data-hint="Manage Accounts"
		ng-click="getAccounts(true)">
		Accounts
	</button>
	
	<!-- Quick Channel-->
	<!-- Single button -->
	<div class="btn-group">
		<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			Quick 
			<span class="glyphicon glyphicon-list"></span>
		</button>
	  	<ul class="dropdown-menu" role="menu">
		    <li><a ng-click="bankTransEdit('add', null)"><b>New Bank Transaction</b></a></li>
		    <li><a ng-click="bankTransEdit('addTransfer', null)"><b>New Bank Transfer</b></a></li>
		    <li><a disabled>New Invoice (beta)</a></li>
	  	</ul>
	</div>
	
</div>