<div>
	<h3>Upload the private key!</h3>

	<!-- choose file control -->
	<div class="row form-inline" style="padding-left:15px">
		<form ng-submit="uploadFile()" enctype="multipart/form-data">
			<!-- Key -->
			<input type="text" ng-model='auth.key' class='form-control' min='30' max='30' placeholder='Consumer Key' required/>
			<input type="text" ng-model='auth.secret' class='form-control' min='30' max='30' placeholder='Consumer Secret' required/>
			<br/><br/>
			
			<!-- choose file -->
	        <span class="btn btn-success fileinput-button">
	            <input type="file" type="file" name="file" ng-model="file" data-rule-required="true" id="file" required/>
	        </span>
			
			<!-- Upload control -->
			<button type="submit" class="btn btn-primary" >Upload</button>
		</form>
	</div>
</div>