<module-ui-enabler name="twitter" ng-controller="TwitterController">

<div pageheading>{{module.title}}</div>

<div class="row">
	<div class="col-lg-12">
		<h3>
			<b>Query tweets using hashtags </b>
		</h3>
		<h4>
			<p>Please include # for every hashtag and a comma between them</p>
		</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="row form-inline">
					<input type="text" ng-model="query.params"
						class="form-control" placeholder="Hashtags">
					<button type="button" class="btn btn-default"
						ng-click="searchTweets()">Search</button>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<br />
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="portlet box">
					<div class="portlet-body">
						<div>
							<div class="chat-scroller">
								<ul class="chats">
									<li class="in" ng-repeat="s in twitterResults"><img
										src="core/img/avatar.gif" class="avatar img-responsive">
										<div class="message">
											<span class="chat-arrow"></span><b>User: </b><a
												href="javascript:void(0);" class="chat-name">
												{{s.user.name}}</a>&nbsp; <span class="chat-body"> <b>Text:</b>
												{{s.text}}
											</span>
										</div></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</module-ui-enabler>