<module-ui-enabler name="twitter" ng-controller="TwitterController">

<div pageheading>{{module.title}}</div>

<div ng-init="tweets()" class="row">
	<div class="col-lg-12">
		<h3>
			<b>Latest tweets (Timeline)</b>
		</h3>
		<div class="row">
			<div class="col-lg-6">
				<div class="portlet box">
					<div class="portlet-body">
						<div>
							<div class="chat-scroller">
								<ul class="chats">
									<li class="in" ng-repeat="s in twitterStatuses"><img
										src="core/img/avatar.gif" class="avatar img-responsive">
										<div class="message">
											<span class="chat-arrow"></span><b>User: </b><a
												href="javascript:void(0);" class="chat-name">
												{{s.user.name}}</a>&nbsp; <span class="chat-body"> <b>Text:</b>
												{{s.text}}
											</span>
										</div></li>
								</ul>
							</div>
							<div class="chat-form">
								<div class="input-group">
									<input ng-keyup="$event.keyCode == 13 ? postTweet() : null"
										type="text" ng-model="tweet.status" class="form-control"
										placeholder="Type your status here" /> <span id="btn-chat"
										class="input-group-btn">
										<button type="button" ng-click="postTweet()"
											class="btn btn-green">
											<i class="fa fa-check"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</module-ui-enabler>

