<div>
	<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h4 class="modal-title"><b>Share</b></h4>
</div>
<div class="modal-body">
	<div class="row" style="background-color:#F8F8F8;">
		<div class="col-md-4" style="margin-left:15px; margin-top:15px">
			<div class='thumbnail'>
				<img src="{{update['submitted-image-url']}}" alt="Image">
			</div>
		</div>
		<div class="col-md-7" style="margin-top:10px">
			<h4>
				<a href="{{update['update-content']['company-status-update']['share']['content']['eyebrow-url']}}">
					<b>{{update.title}}</b>
				</a>
			</h4>
			<p>
				{{update.description}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h5>Share an update</h5>
			<div class="col-md-12" style="background-color:#F8F8F8;">
				<p></p>
				<input  class="col-md-12" type="textarea" ng-model='share.commentTmp' placeholder="Add Comment"/>
				<br/><br/>
			</div>
		</div>
	</div>
	<div class="row" ng-if="update['update-type'] == 'CMPY'">
		<div class="col-md-12">
			<h5 ng-click='showForm = true' ng-model="showForm">Post to groups</h5>
			<div class="col-md-12" style="background-color:#F8F8F8;" ng-if="showForm">
				<br/>
				<div>
					<div class="col-md-2">
						Group: 
					</div>
					<div class="col-md-10">
						<select  class="col-md-12" ng-model="discussion.group" ng-options="group.key as group.group.name for group in groups" required></select>
					</div>
					<br/><br/>
				</div>
				<div>
					<div class="col-md-2">
						Title: 
					</div>
					<div class="col-md-10">
						<input  class="col-md-12" type="text" ng-model='discussion.title' placeholder="Add a discussion title"/>
					</div>
					<br/><br/>
				</div>
				<div>
					<div class="col-md-2">
						Detail:
					</div>
					<div class="col-md-10">
						<textarea class="col-md-12" ng-model="discussion.summary" placeholder="optional"></textarea>
					</div>
				</div>
				<br/><br/><br/>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" style="text-align:left">
	<button
		class="btn btn-sm btn-primary"
		ng-click="addShare()"
		ng-disabled="!share.commentTmp"
		>
		Share
	</button>
</div>