<div class="row">
	<div class='btn-group'>
  		<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<span class="glyphicon glyphicon-list"></span>
		</button>
		
	  	<ul class="dropdown-menu" role="menu">
		    <li><a ng-click="getMyFollowedCompaniesUpdates()">My Companies</a></li>
		    <li><a ng-click="getGroupUpdates()">My Groups</a></li>
		    <li><a ng-click="getMyConnections()">My Connections</a></li>
		    <li><a ng-click="getMyNetworkUpdates('null','null')">My Network</a></li>
		    <li><a ng-click="getMyProfile('full')">My Profile</a></li>
		    <li><a ng-click="displayController('if_conn_configure'); module.title='Linkedin Configuration'">Change my account</a></li>
	  	</ul>
	</div>

	<div ng-if="module.if_company_updates">
		<div ng-include="'modules/linkedin/company/LinkedinCompanyUpdates.html'"></div>
	</div>
	
	<div ng-if="module.if_group_updates">
		<div ng-include="'modules/linkedin/group/LinkedinGroupUpdates.html'"></div>
	</div>
	
	<div ng-if="module.if_my_connections">
		<div ng-include="'modules/linkedin/people/LinkedinMyConnections.html'"></div>
	</div>
	
	<div ng-if="module.if_my_networks">
		<div ng-include="'modules/linkedin/network/LinkedinNetworkUpdates.html'"></div>
	</div>
	
	<div ng-if="module.if_my_profile">
		<div ng-include="'modules/linkedin/people/LinkedinMyProfile.html'"></div>
	</div>
</div>