<div class="row">  
    <div class="col-lg-2">
		<input class='conn conn-m' type='image' src='core/img/linkedin_config.png' ng-click="connectOAuth()"/>
    </div>
    <div class="col-lg-8">
		<button
			class="btn btn-sm"
			ng-click="displayController('if_functions'); module.title='My Linkedin'">
		Cancel
		</button>
    </div>
</div>