<module-ui-enabler
	name= "linkedin"
	ng-controller="LinkedinController" ng-init="connLinkedin()">
	<div pageheading>
		{{module.title}}
	</div>
	
	<div ng-if='module.if_conn_configure'>	
		<div ng-include="'modules/linkedin/LinkedinOAuthConfig.html'"></div>
	</div>
	
	<div ng-if='module.if_try_again'>	
		<div ng-include="'modules/linkedin/LinkedinTryAgain.html'"></div>
	</div>
	
	<div ng-if='!module.if_conn_configure && !module.if_try_again'>	
		<div ng-include="'modules/linkedin/LinkedinFunctions.html'"></div>
	</div>
</module-ui-enabler>