.panel{
	margin-left:-15px;
	margin-top:10px;
}

.conn.conn-m{
	width:170px;
}

.comment{
	background-color:#F8F8F8;
	text-align:right;
}

.thumbnail {
  position: relative;
  margin-left:-15px;
  width: 170px;
  height: 105px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.row{
	padding-left:15px;
}