<div class="modal-header">
	<button
		type="button"
		class="close"
		ng-click="cancel();">&times;</button>

	<h3 class="modal-title">{{data.title}}</h3>
</div>

<!-- For alerts, chose if it's a pre or post function -->
<div
	ng-show="data.feature.type == 'function'"
	class="borderBottom padding10">

	<div class="row">
		<div class="col-lg-3"></div>

		<div class="col-lg-3">
			<input
				type="radio"
				ng-model="data.feature.isPreFunction"
				value="true"><span> Before</span>
		</div>

		<div class="col-lg-3">
			<input
				type="radio"
				ng-model="data.feature.isPreFunction"
				value="false"><span> After</span>
		</div>

		<div class="col-lg-3"></div>
	</div>
</div>

<form
	name="settingsform"
	role="form">
	<div class="modal-body settingsmodalbody">

		<tabset justified="true"> 
			<tab heading="Edit"> <ng-include src="template"></ng-include> </tab> 
			
			<tab heading="Preview" select="previewselected()">
				<div
					ng-show="featuredetails.jsFiles"
					ng-repeat="p in preview"
					ng-if="showpreview"
					class="animated fadeInUp">
					<ng-trunk-include
						view="p.view"
						params="p.params"
						featureincrementedid="p.id"></ng-trunk-include>
				</div>
				
				<div
					ng-show="!featuredetails.jsFiles">
					No preview available
				</div>
			</tab>
		</tabset>

	</div>
	<div class="modal-footer">
		<button
			class="btn btn-primary"
			ng-click="okclicked()">OK</button>
		<button
			class="btn btn-default"
			ng-click="cancel()">Cancel</button>
	</div>
</form>