<div>
	<div style="text-align: center">
		<h3>Bank Summary</h3>
		<h5>Demo Company (AU)</h5>
		<h5>From 1 December 2014 to 31 December 2014</h5>
	</div>

	<hr>
	<table
		ng-table="tableParams"
		template-pagination="core/templates/ngtablecustompagination1.html"
		class="table table-hover table-striped table-bordered">
		<tr ng-repeat="row in bankSummary">
			<td
				data-title="'Bank Accounts'"
				sortable="'bankAccount'">{{row.bankAccount}}</td>
			<td
				style="text-align: center;"
				data-title="'Opening Balance'"
				sortable="'openBalance'">{{row.openBalance}}</td>
			<td
				style="text-align: center;"
				data-title="'Cash Received'"
				sortable="'cashReceived'">{{row.cashReceived}}</td>
			<td
				style="text-align: center;"
				data-title="'Cash Spent'"
				sortable="'cashSpent'">{{row.cashSpent}}</td>
				<td
				style="text-align: center;"
				data-title="'Closing Balance'"
				sortable="'closeBalance'">{{row.closeBalance}}</td>
		</tr>
	</table>
</div>