<div>
	<div>
	<div style="text-align: center;">
		<h3>Account Transactions</h3>
		<hr>
	</div>
	
	<!-- filter -->
	<div style="padding-left:15px" class="row form-inline">
		<input type="text" class="form-control" placeholder="Enter Contact" ng-model="tableParams.filter()['contact']">
		
		<select class="selectize-dropdown form-control" 
				ng-model="tableParams.filter()['accountCode']">
			 <option value="" > ALL Transactions</option>
			 <option value="090"> Business Bank Account </option>
			 <option value="091"> Business Savings Account </option>
		</select>
		
		<select class="selectize-dropdown form-control" 
				ng-model="tableParams.filter()['type']">
			 <option value="" > ALL Type</option>
			 <option value="TRANSACTION"> Bank Transaction</option>
			 <option value="TRANSFER"> Bank Transfer </option>
			 <option value="PAYMENT"> Payment </option>
		</select>	
		
		<!-- Add new bank transactions -->
		<button
			data-hint="Add New Bank Transaction"
			class="hint--right btn btn-sm btn-success"
			ng-click="bankTransEdit('add', null)">
			<span class="glyphicon glyphicon-list-alt"></span>
		</button>
		
		<!-- Add new bank transfer -->
		<button
			data-hint="Add New Bank Transfer"
			class="hint--right btn btn-sm btn-success"
			ng-click="bankTransEdit('addTransfer', null)">
			<span class="glyphicon glyphicon-random"></span>
		</button>
	</div>
	<br/>
	
	<!-- data -->
	<table   ng-table="tableParams" 
			 template-pagination="modules/xero/templates/ngTableTemplates.html" 
			 class="table table-hover table-striped table-bordered">
	         <tr ng-repeat="bankTran in $data" filter="{'accountCode':'accountCode', 'type':'type'}">
	         	<td style="text-align: center"
	         		data-title="'Date'"
	         		sortable="'date'">
	         		{{bankTran.date}}
	            </td>
	            <td data-title="'Description'" 
	            	filter="{'contact':'desc'}" 
	            	sortable="'contact'">
	            	<a ng-click="bankTransEdit('view', bankTran)">
	            		{{(bankTran.type=='PAYMENT' ? 'Payment: ' : '') + bankTran.contact}}
	            	</a>
	            </td>
	            <td style="text-align: center"
	            	data-title="'Reference'">
					{{bankTran.reference}}
	            </td>
	            <td style="text-align:center" 
	            	data-title="'Spent'">
	            	{{bankTran.spend}}
	            </td>
	            <td style="text-align:center"
	            	data-title="'Received'">
	            	{{bankTran.receive}}
	            </td>
	         </tr>
	</table>
</div>