<!-- Header -->
<div>
	<table class="table">
		<tr>
			<td><b>To</b></td>
			<td><b>Date</b></td>
			<td><b>Reference<em>(optional)</em></b></td>
			<td><b>Total</b></td>
		</tr>
		<tr>
			<td><input type='text' class="form-control input-sm" typeahead="contact.name for contact in contacts | filter:$viewValue" ng-model="contact.Name" required/></td>
			<td><input type='date' class="form-control input-sm" ng-model="bankTransaction.Date" required/></td>
			<td><input type='text' class="form-control input-sm" ng-model="bankTransaction.Reference"/></td>
			<td><input type='number' class="form-control input-sm" min='0' ng-model="bankTransaction.Total"/></td>
		</tr>
	</table>
</div>

<!-- Body -->
<div>
	<div ng-include="'modules/xero/bank/XeroAddBankTransactionBody.html'">
</div>