<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3 class="modal-title">Transaction: Transfer</h3>
</div>
<div class="modal-body">
	<!-- information -->
	<div>
		<table class="table table-transform">
		    <thead>
		    	<tr>
		        	<th>Transfer Date</th>
		        	<th>Reference</th>
		    	</tr>
		    </thead>
		    <tbody>
			    <tr>
			        <td>{{bankTransfer.date.substring(0,10)}}</td>
			        <td>{{bankTransfer.reference}}</td>
			    </tr>
		    </tbody>
		</table>
		<hr>
	</div>
	
	<!-- line items -->
	<div>
		<table  class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th> Transferred To</th>
					<th> Transferred From </th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				 <tr>
		            <td style="text-align:left"> {{bankTransfer.fromBankAccount.name}} </td>
		            <td style="text-align:left"> {{bankTransfer.toBankAccount.name}} </td>
		            <td style="text-align:center"> {{bankTransfer.amount}} </td>
		          </tr>
		   </tbody>
		</table>
	</div>
	<br/>
</div>
<div class="modal-footer">
</div>
