<div class="modal-header" >
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <div class="row">
    	<div class="col-xs-4">
    		<b>
    			<h3 ng-if='!(bankTransaction.Type && bankTransaction.bankAccount.Code)'> Add Bank Transaction</h3>
    			<h3 ng-if="bankTransaction.Type.substring(0,1) == 'S' && bankTransaction.bankAccount.Code"> Spend Money</h3>
    			<h3 ng-if="bankTransaction.Type.substring(0,1) == 'R' && bankTransaction.bankAccount.Code"> Receive Money</h3>
    		</b>
    	</div>
    	<div class="col-xs-2" style="padding-top:15px">
	   		<select class="selectize-dropdown form-control"  
				ng-model='bankTransaction.Type'
				ng-options="bankTransactionType.typeCode as bankTransactionType.name group by bankTransactionType.group for bankTransactionType in bankTransactionTypes"
				ng-if='bankTransaction.Type && bankTransaction.bankAccount.Code'>
			</select>
		</div>
	</div>
</div>

<div class="modal-body">
	<form ng-submit="add('BankTransaction')">
		<!-- Option -->
		<div style="padding-left:15px" 
			class='row form-inline'
			ng-if="!(bankTransaction.Type && bankTransaction.bankAccount.Code)">
			<H5><b> You want to add: </b></H5>
			
			<select class="selectize-dropdown form-control"  
					ng-model='bankTransaction.bankAccount.Code'
					ng-options='bankAccount.Code as bankAccount.Name for bankAccount in bankAccounts'>
				<option value="" disabled selected>-- Bank Account --</option>
			</select>
			<select class="selectize-dropdown form-control"  
					ng-model='bankTransaction.Type'
					ng-options='bankTransactionType.typeCode as bankTransactionType.name group by bankTransactionType.group for bankTransactionType in bankTransactionTypes'>
				<option value="" disabled>-- Transaction Type --</option>
			</select>
		</div>
		
		<!-- Choose -->
		<div ng-if="bankTransaction.Type.substring(0,1) == 'R' && bankTransaction.bankAccount.Code">
			<div ng-include="'modules/xero/bank/XeroAddBankTransactionReceiveHead.html'"></div>
		</div>
		
		<div ng-if="bankTransaction.Type.substring(0,1) == 'S' && bankTransaction.bankAccount.Code">
			<div ng-include="'modules/xero/bank/XeroAddBankTransactionSpendHead.html'"></div>
		</div>
	</form>
</div>
