<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3 class="modal-title">Transaction: Payment</h3>
</div>
<div class="modal-body">
	<!-- information -->
	<div>
		<table class="table table-transform">
		    <thead>
		    	<tr>
		        	<th>Payment Date</th>
		        	<th>Reference</th>
		    	</tr>
		    </thead>
		    <tbody>
			    <tr>
			        <td>{{bankPayment.date.substring(0,10)}}</td>
			        <td>{{bankPayment.reference}}</td>
			    </tr>
		    </tbody>
		</table>
		<hr>
	</div>
		
	<!-- Tax type -->
	<div style="text-align:right">
		Amounts are <b> Tax {{bankPayment.invoice.lineAmountTypes}} </b>
	<div>
	<br/>
	
	<!-- line items -->
	<div>
		<table  class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>Contact</th>
					<th>Inv #</th>
					<th>Date</th>
					<th>Due Date</th>
					<th>Total</th>
					<th>Payment Amount</th>
				</tr>
			</thead>
			<tbody>
				 <tr>
		            <td style="text-align:left"> {{bankPayment.invoice.contact.name}} </td>
		            <td style="text-align:center"> {{(bankPayment.invoice.invoiceNumber == null ? "No reference number":bankPayment.invoice.invoiceNumber)}} </td>
		            <td style="text-align:center"> {{bankPayment.invoice.date.substring(0,10)}} </td>
		            <td style="text-align:center"> {{bankPayment.invoice.dueDate.substring(0,10)}} </td>
		            <td style="text-align:center"> {{bankPayment.invoice.total}} </td>
		            <td style="text-align:center"> {{bankPayment.invoice.amountPaid}}</td>
		          </tr>
		   </tbody>
		</table>
	</div>
	<br/>
	
	<!-- Total information -->
	<div style="text-align:right">
		<table style="width:100%">
			<tr>
				<td style="width:85%; font-size:30px; text-align: right">
					<b>Total</b>
				</td>
				<td style="font-size:30px;text-align: right">
					<b>{{bankPayment.amount}}</b>
				</td>
			</tr>
		</table>	
	</div>
</div>
<div class="modal-footer">
</div>
