<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3 class="modal-title">Transaction: Spend Money</h3>
</div>
<div class="modal-body">
	<!-- information -->
	<div>
		<table class="table table-transform">
		    <thead>
		    	<tr>
		        	<th>To</th>
		        	<th>Date</th>
		        	<th>Reference</th>
		        	<th>Total</th>
		    	</tr>
		    </thead>
		    <tbody>
			    <tr>
			        <td>{{bankTransaction.contact.name}}</td>
			        <td>{{bankTransaction.date.substring(0,10)}}</td>
			        <td>{{bankTransaction.reference}}</td>
			        <td>{{bankTransaction.total}}</td>
			    </tr>
		    </tbody>
		</table>
		<hr>
	</div>
		
	<!-- Tax type -->
	<div style="text-align:right">
		Amounts are <b> Tax {{bankTransaction.lineAmountTypes}} </b>
	<div>
	<br/>
	
	<!-- line items -->
	<div>
		<table  class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>Item Code</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Account</th>
					<th>Tax Rate</th>
					<th>Region</th>
					<th>Amount AUD</th>
				</tr>
			</thead>
			<tbody>
				 <tr ng-repeat="lineitem in bankTransaction.lineItems.lineItem">
				 	<td> </td>
		            <td style="text-align:left"> {{lineitem.description}} </td>
		            <td style="text-align:center"> {{lineitem.quantity}} </td>
		            <td style="text-align:center"> {{lineitem.unitAmount}} </td>
		            <td style="text-align:center"> {{lineitem.accountCode}} </td>
		            <td style="text-align:center"> GST {{lineitem.taxType == 'EXEMPTEXPENSES' ? 'Free Expenses' : 'On Expenses'}} </td>
		            <td style="text-align:center"> </td>
		            <td style="text-align:center"> {{lineitem.lineAmount}} </td>
		          </tr>
		   </tbody>
		</table>
	</div>
	<br/>
	
	<!-- Total information -->
	<div style="text-align:right">
		<table style="width:100%">
			<tr>
				<td style="text-align: right; width:80%">Subtotal</td><td style="text-align: right">{{bankTransaction.subTotal}}</td>
			</tr>
			<tr>
				<td style="text-align: right">Total GST 10%</td><td style="text-align: right">{{bankTransaction.totalTax}}</td>
			</tr>
			
			<!-- blank line -->
			<tr><td colspan='2'><br/></td></tr>
			
			<tr>
				<td style="font-size:30px; text-align: right">
					<b>Total</b>
				</td>
				<td style="font-size:30px;text-align: right">
					<b>{{bankTransaction.total}}</b>
				</td>
			</tr>
		</table>	
	</div>
</div>
<div class="modal-footer">
</div>
