<div>
	<br/>
	<!-- Tax & Currency -->
	<table class="table">
			<tr>
				<td style='text-align:left; width:10%'><b>Currency</b></td>
				<td style='text-align:left; width:50%'> AUD Australian Dollar </td>
				<td style='text-align:right; width:20%'><b>Amounts are</b></td>
				
				<!-- for non overpayment -->
				<td style='text-align:right; width:15%' ng-if="!(bankTransaction.Type == 'RECEIVE-OVERPAYMENT' || bankTransaction.Type == 'SPEND-OVERPAYMENT')">
					<select ng-model="bankTransaction.LineAmountTypes" >
						<option value="Exclusive"> Tax Exclusive </option>
						<option value="Inclusive"> Tax Inclusive </option>
						<option value="NoTax"> No Tax </option>
					</select>
				</td>
				
				<!-- for overpayment -->
				<td style='text-align:right; width:15%' ng-if="(bankTransaction.Type == 'RECEIVE-OVERPAYMENT' || bankTransaction.Type == 'SPEND-OVERPAYMENT')">
					<p> No Tax </p>
				</td>
			</tr>
	</table>
	<hr>
	<!-- Line Items -->
	<table class="table">
		<thead>
			<tr>
				<th ng-if="(bankTransaction.Type == 'SPEND' || bankTransaction.Type == 'RECEIVE')">Item</th>
				<th style="width:40%">Description</th>
				<th style="width:10%">Qty</th>
				<th style="width:10%">Unit Price</th>
				<th style="width:20%">Account</th>
				<th colspan='2'>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="lineItem in lineItems">
				<td ng-if="(bankTransaction.Type == 'SPEND' || bankTransaction.Type == 'RECEIVE')">
					<input type="text" class="form-control input-sm" typeahead="item.code for item in items | filter:$viewValue" ng-model="lineItem.Code"/>
				</td>
				<td>
					<input type="text"  class="form-control input-sm" typeahead="item.description for item in items | filter:lineItem.Code" ng-model="lineItem.Description" required/>
				</td>
				
						<!-- for non  overpayment -->
						<td ng-if="!(bankTransaction.Type == 'RECEIVE-OVERPAYMENT' || bankTransaction.Type == 'SPEND-OVERPAYMENT')">
							<input type="number" class="form-control input-sm" min='0' ng-model="lineItem.Quantity" required/>
						</td>
						
						<!-- for  overpayment -->
						<td ng-if="(bankTransaction.Type == 'RECEIVE-OVERPAYMENT' || bankTransaction.Type == 'SPEND-OVERPAYMENT')">
							<input type="number" class="form-control input-sm" min='1' max='1' ng-model="lineItem.Quantity" required/>
						</td>
				
				<td>
					<input type="number" class="form-control input-sm" min='0' ng-model="lineItem.UnitAmount" required/>
				</td>
				
						<!-- for non  overpayment -->
						<td ng-if="!(bankTransaction.Type == 'RECEIVE-OVERPAYMENT' || bankTransaction.Type == 'SPEND-OVERPAYMENT')">
							<input ng-if="!(bankTransaction.Type == 'RECEIVE-OVERPAYMENT' || bankTransaction.Type == 'SPEND-OVERPAYMENT')"type="text" class="form-control input-sm" ng-model="lineItem.AccountCode" typeahead="account.code as account.code + ' - ' + account.name for account in accounts | filter:{type:'!BANK'} | filter:$viewValue" required/>
						</td>
						
						<!-- for overpayment -->
						<td ng-if="(bankTransaction.Type == 'RECEIVE-OVERPAYMENT' || bankTransaction.Type == 'SPEND-OVERPAYMENT')">
							<p ng-if="bankTransaction.Type.substring(0,1) == 'S'">800 - Accounts Payable</p>
							<p ng-if="bankTransaction.Type.substring(0,1) == 'R'">610 - Accounts Receivable</p>
						</td>
					
				<td>
					{{lineItem.UnitAmount * lineItem.Quantity}}
				</td>
				<td>
					<button type="button"
          				 	class="btn btn-sm"
         				 	ng-click="removeLineItem($index)">
      					<span class="glyphicon glyphicon-remove"></span>
  					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<!-- Add New Line item -->
	<div>
		<button type="button"
     			class="btn btn-sm btn-primary"
    			ng-click="addNewLine()">
 			Add New Line
		</button>
	</div>
</div>
<hr>
<div style="text-align: right; padding-right:10px">
	<!-- Add Button -->
	<button type="submit" class="btn btn-primary">
    	Add Transaction
  	</button>
</div>