<div class="modal-header" >
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h3>Transfer Money</h3>
</div>

<div class="modal-body">
	<form ng-submit="add('BankTransfer')">
		<!-- From -->
		<div class="row">
	    	<div class="col-xs-2">
	    		<h3>From: </h3>
	    	</div>
	    	<div class="col-xs-6" style="padding-top:15px">
		   		<select class="selectize-dropdown form-control"  
						ng-model='bankTransfer.FromBankAccount.Code'
						ng-options='bankAccount.Code as bankAccount.Name for bankAccount in bankAccounts'
						required>
					<option value="" disabled selected>-- From Bank Account --</option>
				</select>
			</div>
		</div>
		
		<!-- To -->
		<div class="row">
	    	<div class="col-xs-2">
	    		<h3>To: </h3>
	    	</div>
	    	<div class="col-xs-6" style="padding-top:15px">
		   		<select class="selectize-dropdown form-control"  
						ng-model='bankTransfer.ToBankAccount.Code'
						ng-options='bankAccount.Code as bankAccount.Name for bankAccount in bankAccounts'
						required>
					<option value="" disabled selected>-- To Bank Account --</option>
				</select>
			</div>
		</div>
		<br/>
		
		<!-- Amount -->
		<div>
				<table class="table">
					<tr>
						<td><b>Date</b></td>
						<td><b>Amount</b></td>
						<td><b>Reference<em>(optional)</em></b></td>
					</tr>
					<tr>
						<td>
							<input type='date' class="form-control input-sm" ng-model="bankTransfer.Date" required/>
						 </td>
						<td>
							<input type='number' class="form-control input-sm" min='0' ng-model="bankTransfer.Amount" required/>
						</td>
						<td><input type='text' class="form-control input-sm" ng-model="bankTransfer.Reference"/></td>
					</tr>
				</table>
		</div>
		<br/>
		
		<!-- Attachment -->
		<div>
			<h5><b>Upload file <em>(Test)</em>:</b></h5>
			<!-- choose file -->
		    <span class="btn btn-sm btn-default fileinput-button">
		    	<input type="file" type="file" name="file" ng-model="file" data-rule-required="true" id="file"/>
		    </span>
		</div>
		<hr>
		
		<!-- submit button -->
		<div style="text-align: right; padding-right:10px">
			<!-- Add Button -->
			<button type="submit" class="btn btn-sm btn-primary"> Add </button>
		  	
		  	<!-- Cancel Button -->
			<button type="button" class="btn btn-sm"  ng-click="cancel()"> Cancel </button>
		</div>
</div>
