<div class="row list-group-item paging1 noMargin noPadding">
    <div class="col-md-4">
        <ul class="pagination" style="margin-top:30px;">
            <li><b>Total Items:</b> {{params.total()}} </li>
        </ul>
    </div>
    <div class="col-md-5 col-md-offset-3">
        <ul class="pagination pull-right">
            <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">

                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a>

                <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
                    <span ng-bind="page.number"></span>
                </a>

                <a ng-switch-when="page" ng-click="params.page(page.number)" href="">
                    <span ng-bind="page.number"></span>
                </a>

                <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>

                <a ng-switch-when="last" ng-click="params.page(page.number)" href="">
                    <span ng-bind="page.number"></span>
                </a>

                <a ng-switch-when="next" ng-click="params.page(page.number)" href="">&raquo;</a>
            </li>
        </ul>
        <ul class="pagination pull-right">
            <li>&nbsp;&nbsp;&nbsp;</li>
        </ul>
        <ul class="pagination pull-right">
            <li>
                <b>Items per page:</b>
            </li>
            <li>
                <div class="btn-group">
                    <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                    <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                    <button type="button" ng-class="{'active':params.count() == 500}" ng-click="params.count(500)" class="btn btn-default">500</button>
                </div>
            </li>
        </ul>
    </div>
</div>
