<div>
	<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h4 class="modal-title">View Account details </h4>
</div>
<div class="modal-body">
	<!-- Name -->
	<div>
		<h5> <b> Account Type</b> </h5>
		<p> {{theAccount.type}} </p>
		<hr>
	</div>
	
	<!-- Code -->
	<div>
		<h5><b> Code </b></h5>
		<p> {{theAccount.code}} </p>
		<hr>
	</div>
	
	<!-- Code -->
	<div>
		<h5><b> Name </b></h5>
		<p> {{theAccount.name}} </p>
		<hr>
	</div>
	
	<!-- desc -->
	<div>
		<h5><b> Description</b> (optional)</h5>
		<p> {{theAccount.description}} </p>
		<hr>
	</div>
	
	<!-- Tax -->
	<div>
		<h5><b> Tax </b></h5>
		<p> {{theAccount.taxType}} </p>
		<hr>
	</div>
	
</div>
<div class="modal-footer">
</div>