<div>
	<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="cancel()">
        &times;
    </button>
    <h4 class="modal-title">View {{theAccount.name}} details </h4>
</div>
<div class="modal-body">
	<!-- Name -->
	<div>
		<h5> <b> Account Name</b> </h5>
		<p> {{theAccount.name}} </p>
		<hr>
	</div>
	
	<!-- Code -->
	<div>
		<h5><b> Code </b></h5>
		<p> {{theAccount.code}} </p>
		<hr>
	</div>
	
	<!-- Code -->
	<div>
		<h5><b> Currency </b></h5>
		<p> {{theAccount.code + ' ' + (theAccount.code == 'AUD' ? 'Australian Dollar' : '')}} </p>
		<hr>
	</div>
	
	<!-- Number -->
	<div>
		<h5><b> Bank Account Number </b></h5>
		<table class="table table-transform">
		    	<tr>
		        	<td>BSB</td>
		        	<td></td>
		        	<td>Reference</td>
		    	</tr>
			    <tr>
			        <td>{{theAccount.bankAccountNumber.substring(0,3) + '-' + theAccount.bankAccountNumber.substring(3,6)}}</td>
			        <td>-</td>
			        <td>{{theAccount.bankAccountNumber.substring(6, theAccount.bankAccountNumber.length)}}</td>
			    </tr>
		</table>
		<hr>
	</div>
	
</div>
<div class="modal-footer">
</div>