<div>
	<div style="text-align: center">
		<h3>Chart of Accounts</h3>
	</div>
	<div style="padding-left:15px" class="row form-inline">
		<input type="text" class="form-control" placeholder="Search" ng-model="tableParams.filter()['name']">
	</div>
	<br/>
	<table ng-table="tableParams" 
		 template-pagination="modules/xero/templates/ngTableTemplates.html" 
		 class="table table-hover table-striped table-bordered">
         <tr ng-repeat="account in $data | filter:{status: 'ACTIVE'}">
             <td data-title="'Code'">
                 {{account.code}}
             </td>
             <td data-title="'Name'" filter="{'name':'name'}">
                 <a ng-click="accountView(account)"> 
                 	{{account.name}} 
                 </a>
             </td>
             <td data-title="'Type'">
                 {{account.type}}
             </td>
             <td data-title="'Tax Rate'">
                 {{account.taxType}}
             </td>
	</td>
        </tr>
    </table>
</div>