<div class="row">
	<div class="col-md-7">
		<!-- summary -->
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="col-md-12" style="margin-top:-20px">
						<h3>Summary</h3>
						<br/>
					</div>
				</div>
				
				<!-- display only -->
				<div class="col-md-12">
					<div class="col-md-12">
						{{myProfile.summary}}
					</div>
				</div>
				
				<div class="col-md-12">
					<br/>
				</div>
			</div>
		</div>
		
		<!-- Experiences -->
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-10" style="margin-top:-20px">
					<div class="col-md-12">
						<h3>Experience</h3>
						<br/>
					</div>
				</div>
				<div class="col-md-12" ng-repeat="position in myProfile.positions.position">
					<div class="col-md-10">
						<h4>{{position.title}}</h4>
						<p><em>{{position.company.name}}</em></p>
						<p>{{ position['start-date'].month + '.' + position['start-date'].year + " - "
							+ (position['end-date'] ? position['end-date'].month + '.' + position['end-date'].year:"Present")}}</p>
						<p>{{position.summary}}</p>
					</div>
					<div class="col-md-2">
						
					</div>
					<div class="col-md-12">
						<hr>
					</div>
				</div>
				<div class="col-md-12">
					<br/>
				</div>
			</div>
		</div>
		
		<!-- Skills & Endorsements -->
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-12" style="margin-top:-20px">
					<div class="col-md-12">
						<h3>Skills & Endorsements</h3>
						<br/>
					</div>
					<div class="col-md-12">
						<button style="margin-right:10px; margin-top:5px; margin-bottom:5px" class='btn btn-sm btn-default' ng-repeat="skill in myProfile.skills.skill">
							{{skill.skill.name}}
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Education -->
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-12" style="margin-top:-20px">
					<div class="col-md-12">
						<h3>Education</h3>
						<br/>
					</div>
				</div>
				<div class="col-md-12" ng-repeat="education in myProfile.educations.education">
					<div class="col-md-12">
						<h4>{{education['school-name']}}</h4>
						<h5>{{education['degree'] + education['field-of-study']}}</h5>
						<p>{{ education['start-date'].year + " - " + education['end-date'].year}}</p>
						<p>{{education.notes}}</p>
					</div>
					<div class="col-md-12">
						<hr>
					</div>
				</div>
				<div class="col-md-12">
					<br/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<!-- Search -->
		<div class="panel">
			<div class="panel-body">
				<div ng-include="'modules/linkedin/people/LinkedinSearch.html'"></div>
			</div>
		</div>
		
		<!-- Suggested Company -->
		<div class="panel">
			<div class="panel-body">
				<!-- Suggested Company -->
				<div class='col-md-12' style="margin-top:-20px">
					<div class="col-md-12">
						<h3>Suggested Company</h3>
					</div>
				</div>
				<div class="col-md-6" style="height:50px" ng-repeat="sugCompany in myProfile.suggestions['to-follow'].companies.company| limitTo:module.limit_sug_company">
					<div class="col-md-12">
						<h5 ng-click="viewCompany(sugCompany.id)">{{sugCompany.name}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>