<div class="row">
	<div class="col-md-7">
		<div class="panel" ng-repeat='connection in connections| limitTo:module.limit_myConnections'>
			<div class="panel-body">
				<div class='col-md-2'>
					<img ng-if="!connection['picture-url']" width="90%" src='core/img/linkedin_icon.jpg' />
					<img ng-if="connection['picture-url']" src="{{connection['picture-url']}}" />			
				</div>
				<div class='col-md-8' style="margin-top:-25px">
					<div class='col-md-12'>
						<h3>{{connection['first-name'] + " " + connection['last-name']}}</h3>
					</div>
					<div class='col-md-12'>
						{{connection['headline']}}
					</div>
					<div class='col-md-12'>
						{{connection['location']['name'] + (connection['country']['code'] == 'au' ? "Australia":connection['country']['code'])}}
					</div>
				</div>
				<div class='col-md-2'>
					<button class="btn btn-link" ng-click="sendMessage(connection)">
						<span style="color:#3399CC; font-size:18px" class="glyphicon glyphicon-envelope"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5" >
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-12">
					<h4>Send Message {{(sendToPerson['first-name'] ? "to ": "") + sendToPerson['first-name'] + " " + sendToPerson['last-name']}}</h4>
				</div>
				<div class="col-md-12" ng-if='sendToPerson'>
					<input class="col-md-12" type="text" ng-model='sendToPerson.subject' placeholder="Subject" required/>
					<br/><br/>
				</div>
				
				<div class="col-md-12" ng-if='sendToPerson'>
					<textarea class="col-md-12" type="text" ng-model='sendToPerson.detail' placeholder="Add your message" required/>
					<br/><br/><br/>
				</div>
				
				<div class="col-md-12" style="text-align:right" ng-if='sendToPerson'>
					<button class="btn btn-sm btn-primary" ng-click="sendMessage(sendToPerson)" ng-disabled="!sendToPerson.subject">
						Send Message
					</button>
					<button class="btn btn-sm btn-default" ng-click="sendMessage(null)">
						Cancel
					</button>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-12">
					<h4 ng-click="invitation.showForm=true" ng-model="invitation.showForm">Invite person join your network</h4>
				</div>
				<div class="col-md-12" ng-if="invitation.showForm">
					<input class="col-md-12" type="email" ng-model="invitation.email" placeholder="Email" required/>
					<br/><br/>
				</div>
				<div class="col-md-6" ng-if="invitation.showForm">
					<input class="col-md-12" type="text" ng-model="invitation.firstName" placeholder="First Name" required/>
					<br/><br/>
				</div>
				<div class="col-md-6" ng-if="invitation.showForm">
					<input class="col-md-12" type="text" ng-model="invitation.lastName" placeholder="Last Name" required/>
					<br/><br/>
				</div>
				<div class="col-md-12" ng-if="invitation.showForm">
					<input class="col-md-12" type="text" ng-model="invitation.subject" required/>
					<br/><br/>
				</div>
				
				<div class="col-md-12" ng-if="invitation.showForm">
					<textarea class="col-md-12" type="text" ng-model="invitation.detail" required/>
					<br/><br/><br/>
				</div>
				
				<div class="col-md-12" style="text-align:right" ng-if="invitation.showForm">
					<button class="btn btn-sm btn-primary" ng-click="sendInvitation(invitation)" ng-disabled="!invitation.email">
						Send Invitation
					</button>
					<button class="btn btn-sm btn-default" ng-click="invitation.showForm = false">
						Cancel
					</button>
				</div>
			</div>
		</div>
	</div>
</div>