{{peopleSearchResult}}
<div class="col-md-8">
	<input class="col-md-12" style='height:30px;margin-left:15px' type='text' ng-model='searchKey.keyWord' placeholder="Search people" required/>
</div>
<div class="col-md-2">
	<button class="btn btn-sm btn-primary"
			ng-click="search('people', searchKey)" 
			ng-disabled='!searchKey.keyWord'>
		search
	</button>
</div>
<div class="col-md-2">
	<h6 ng-click="module['if_advanced_search']=true">Advanced</h6>
</div>
<div class="col-md-12" ng-if="module.if_advanced_search">
	<div class="col-md-12">
		<h4><em>Optional</em></h4>
	</div>
	<div class="col-md-6">
		<input type='text' ng-model='searchKey.firstName' placeholder="First Name">
	</div>
	<div class="col-md-6">
		<input type='text' ng-model='searchKey.lastName' placeholder="Last Name">
	</div>
	<div class="col-md-12">
		<br/>
	</div>
	<div class="col-md-6">
		<input type='text' ng-model='searchKey.title' placeholder="Title">
	</div>
	<div class="col-md-6">
		<input type='text' ng-model='searchKey.company' placeholder="Company">
	</div>
	<div class="col-md-12">
		<br/>
	</div>
	<div class="col-md-6">
		<input type='text' ng-model='searchKey.school' placeholder="School">
	</div>
	
	<div class="col-md-2">
		<p>Australia</p>
	</div>
	<div class="col-md-4">
		<input class="col-md-12" type='text' ng-model='searchKey.post' placeholder="Postal Code">
	</div>
	
	<div class="col-md-12">
		<hr>
		<button class="btn btn-sm btn-default"
				ng-click="module['if_advanced_search']=false">
				Cancel
		</button>
	</div>
</div>