<div class="row">
	<div class="col-md-7">
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-2">
					<img style="width:50%" src="{{myProfile['picture-url']}}"/>
				</div>
				<div class="col-md-10">
					<div class="col-md-12">
						<input class="col-md-12" type="text" ng-model='discussion.title' placeholder="Enter a discussion topic" required/>
					</div>
					<div class="col-md-12" ng-if="discussion.title">
						<br/>
						<textarea class="col-md-12" ng-model="discussion.summary" placeholder="Add some details..."></textarea>
					</div>
					
					<div class="col-md-12" ng-if="discussion.title">
						<br/>
						<div class="col-md-3" style="margin-left:-15px">
							<h4>Share with</h4>
						</div>
						<div class="col-md-9">
							<select  style="width:110%" class="form-control" ng-model="discussion.group" ng-options="group.key as group.group.name for group in groups" required></select>
						</div>
					</div>
					
					<div class="col-md-12" ng-if="discussion.title">
						<br/>
						<div class="col-md-5" style="margin-left:-15px">
							<h4>Discussion type:</h4>
						</div>
						<div class="col-md-7" style="margin-top:10px">
							<input class="col-md-1" type="radio" ng-model="discussion.type" value="general"/>
							<p class="col-md-4" style="font-size:15px">General</p>
							
							<input class="col-md-1" type="radio" ng-model="discussion.type" value="job"/> 
							<p class="col-md-2" style="font-size:15px">Job</p>
							
							<input class="col-md-1" type="radio" ng-model="discussion.type" value="promotion"/> 
							<p class="col-md-2" style="font-size:15px">Promotion</p>
						</div>
					</div>
					
					<div class="col-md-12" ng-if="discussion.title" style="text-align:right">
						<button class="btn btn-sm btn-primary"
								ng-click="addDisscussion()"
								ng-disabled="!discussion.title">
								Share
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="panel" ng-repeat="discussion in groupDisscussions | orderBy:'-timestamp'| limitTo:module.limit_discussion">
			<div class="panel-body" >
				<div class='col-md-2'>
					<img ng-if="!discussion['group']['group']['small-logo-url']" src='core/img/linkedin_group_default.jpg' style="width:80%"/>
					<img ng-if="discussion['group']['group']['small-logo-url']" src="{{discussion['group']['group']['small-logo-url']}}"/>
				</div>
				<div class='col-md-10' style="margin-top:-10px">
					<!-- title -->
					<div>
						<h4><b>{{discussion.title}}</b></h4>
					</div>
					
					<!-- creator -->
					<div>	
						<a style="color:#98B2E5">
							{{discussion['creator']['last-name'] + discussion['creator']['last-name'] }} ({{discussion['creator']['headline']}}) 
						</a>
						in 
						<a style="color:#98B2E5">
							{{discussion['group']['group']['name']}}
						</a>
					</div>
					
					<!-- summary -->
					<div>
						{{discussion.summary.substring(0,module['limit_summary'])}}
						<a ng-if="discussion.summary.length > 256 && discussion.summary.length != module.limit_summary" ng-click="read(discussion.summary.length)">
							<em style="color:#98B2E5">... More</em>
						</a>
						
						<a ng-if="discussion.summary.length > 256 && discussion.summary.length == module.limit_summary" ng-click="read(0)">
							<em style="color:#98B2E5">... Less</em>
						</a>
					</div>
					
					<!-- information -->
					<div>
						<br/>
						<a ng-click="showComments=true" ng-model='showComments'>
							Comment
							<a ng-if="discussion.comments.total > 0">
								({{discussion.comments.total}})
							</a>
						</a>
						-
						<a ng-if="!discussion['relation-to-viewer']['is-liked']" ng-click="addLike('discussion', 'like', discussion.id)">
							Like
							<a ng-if="(discussion.likes.total > 0 && !discussion['relation-to-viewer']['is-liked'])">
								({{discussion.likes.total}})
							</a>
						</a>
						<a ng-if="discussion['relation-to-viewer']['is-liked']" ng-click="addLike('discussion', 'unlike', discussion.id)">
							Unlike
						</a>
						-
						<a ng-click="addFollow('follow', discussion.id)" ng-if="!discussion['relation-to-viewer']['is-following']"> 
							Follow
						</a>
						<a ng-click="addFollow('unfollow', discussion.id)" ng-if="discussion['relation-to-viewer']['is-following']"> 
							Unfollow
						</a>
						- {{date(discussion['timestamp'])}}
					</div>
				</div>
				<div class="col-md-12" ng-if='showComments' style="background-color:#F8F8F8" ng-repeat="comment in discussion.comments.comment">
					<div class="col-md-12">
						<hr style="border-color:white">
					</div>
					<div class="col-md-2" >
						<img ng-if="!comment['creator']['picture-url']" style='width:32px' src='core/img/linkedin_icon.jpg' />
						<img ng-if="comment['creator']['picture-url']" style='width:32px' src="{{comment['creator']['picture-url']}}" />	
					</div>
					<div class="col-md-10" style="background-color:#F8F8F8">
						<div class="col-md-12">
							{{comment['creator']['last-name'] + " " + comment['creator']['first-name']}}
						</div>
						<div class="col-md-12">
							{{comment['creator']['headline']}}
						</div>
						<div class="col-md-12">
							{{comment.text}}
						</div>
						<div class="col-md-12">
						</div>
					</div>
				</div>
				<div class="col-md-12" ng-if='showComments' style="text-align:right;background-color:#F8F8F8">
					<div class="col-md-12">
						<br/>
					</div>
					<div class="col-md-12">
						<textarea class="col-md-12" type="text" ng-model='comment.comment' placeholder="Add Comment"/>
					</div>	
					<div class="col-md-12">
						<br/>
						<button class="btn btn-sm btn-primary"
								ng-click="addComment(discussion,'discussion')"
								ng-disabled="!comment.comment">
							Add comment
						</button>
					</div>
					<div class="col-md-12">
						<br/>
					</div>
				</div>
			</div>
		</div>
		<a style="text-align:center" ng-if="groupDisscussions.length > 0" ng-click='module.limit_discussion = module.limit_discussion +5'>
			<h5>
				<b>Show more discussions</b>
			</h5>
		</a>
	</div>
	
	<div class="col-md-5">
		<div class="panel" ng-if="suggestedGroups">
			<div class="panel-body">
				<div class="col-md-12">
					<h4><b>Suggested Groups</b></h4>
					<div class="col-md-4" style="text-align:center" ng-repeat="group in suggestedGroups | limitTo: module.limit_group">
						<div class="row" style="height:55px">
							<a ng-click="">
								<img ng-if="!group['small-logo-url']" src='core/img/linkedin_group_default.jpg' style="width:45%"/>
								<img ng-if="group['small-logo-url']" src="{{group['small-logo-url']}}"/>
							</a>
						</div>
						<div class="row" style="height:110px;font-size:12px;">
							<p>{{group['name']}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel" ng-if="groups">
			<div class="panel-body">
				<div class="col-md-12">
					<h4><b>My Groups</b></h4>
					<div class="col-md-4" ng-repeat="group in groups | limitTo: module.limit_group">
						<div class="row" style="height:55px">
							<img ng-if="!group['group']['small-logo-url']" src='core/img/linkedin_group_default.jpg' style="width:45%"/>
							<img ng-if="group['group']['small-logo-url']" src="{{group['group']['small-logo-url']}}"/>
						</div>
						<div class="row" style="height:120px;font-size:12px;text-align:center">
							<p>{{group['group']['name']}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>