<div class="row form-inline">
	<div class="col-lg-12">
		<input ng-keyup="$event.keyCode == 13 ? connect() : null"
			type="text" ng-model="pivotalTracker.apiKey" class="form-control"
			placeholder="Type your api key here" />
		<button type="button" class="btn btn-default btn-green"
			ng-click="connect()">Connect</button>
	</div>
</div>