<module-ui-enabler name="pivotaltracker"
	ng-controller="PivotalTrackerController">

<div pageheading>{{module.title}}</div>

<div ng-init="notifications()" class="row">
	<div class="col-lg-12">
		<h3>
			<b>Available Notifications</b>
		</h3>
		<div class="row">
			<div class="col-lg-8">
				<div class="portlet box">
					<div class="portlet-body">
						<div>
							<div class="chat-scroller">
								<ul class="chats">
									<li class="in" ng-repeat="pN in pivotalNotifications.data"><img
										src="core/img/project_pivotal_icon.png"
										class="avatar img-responsive">
										<div class="message">
											<span class="chat-arrow"></span><b>Message: </b><a
												href="javascript:void(0);" class="chat-name">
												{{pN.message}}</a>&nbsp; <br /> <b>Notification ID: </b><a
												href="javascript:void(0);" class="chat-name"> {{pN.id}}</a>&nbsp;
											<span class="chat-body"> <b>Action:</b> {{pN.action}}
											</span> <span class="chat-body"> <b>Performer:</b>
												{{pN.performer.name}}
											</span>
										</div></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</module-ui-enabler>

