<h3>
	<b>Available Projects</b>
</h3>
<div class="row">
	<div class="col-lg-8">
		<div class="portlet box">
			<div class="portlet-body">
				<div>
					<div class="chat-scroller">
						<ul class="chats">
							<li class="in" ng-repeat="p in pivotalProjects"><img
								src="core/img/project_pivotal_icon.png"
								class="avatar img-responsive">
								<div class="message">
									<span class="chat-arrow"></span><b>Name: </b><a
										href="javascript:void(0);" class="chat-name"> {{p.name}}</a>&nbsp;
									<br /> <b>Project ID: </b><a href="javascript:void(0);"
										class="chat-name"> {{p.id}}</a>&nbsp; <span class="chat-body">
										<b>Version:</b> {{p.version}} <span class="chat-body">
											<b>Current iteration:</b> {{p.current_iteration_number}}
											<button data-hint="Show stories of {{p.name}}"
												style="float: right;" class="btn hint--left"
												ng-click="redirecStoriesPerProject(p.id, p.name)">Show
												stories</button>
									</span>
								</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
