<module-ui-enabler name="pivotaltracker"
	ng-controller="PivotalTrackerController">

<div pageheading>{{module.title}}</div>

<div ng-init="projects()" class="row">
	<div class="col-lg-12">
		<feature-ui-enabler name="projects" ng-if="showProjects">
		<div ng-include="'modules/pivotaltracker/projectsFragment.html'"></div>
		</feature-ui-enabler>
	</div>
</div>

</module-ui-enabler>

