<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true" ng-click="cancel()">&times;</button>
	<div class="row">
		<div class="col-xs-8">
			<b>
				<h3>Story {{storyInfo.name}}</h3>
			</b>
		</div>
	</div>
</div>

<div class="modal-body" ng-init="initialize('storyInfo')">
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<tr>
				<td><b>Description</b></td>
			</tr>
			<tr>
				<td>
					<div>
						<a href="" editable-text="storyInfo.description"
							onbeforesave="checkDescription($data)"> {{
							storyInfo.description || 'empty' }} </a>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>Labels</b></td>
			</tr>
			<tr>
				<td>
					<div ng-repeat="label in storyInfo.labels">
						<a href="" editable-text="label.name"
							onbeforesave="checkLabel($data, label.id)"> {{ label.name ||
							'empty' }} </a>
						<button data-hint="Delete label {{label.name}}"
							class="btn btn-red btn-xs hint--left"
							ng-click="deleteLabel(label.id)">
							<span class="fa fa-trash-o"></span>
						</button>
					</div>
					<div class="form-inline">
						<input type="text" class="form-control" ng-model="story.label"
							placeholder="Type your new label here" required />
						<button data-hint="Add story label"
							class="btn btn-green hint--left" ng-click="addLabel()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>Tasks</b></td>
			</tr>
			<tr>
				<td>
					<div ng-repeat="task in storyInfo.tasks">
						<span> <input type="checkbox" checked="task.complete"
							name="task.id" ng-model="task.complete"> <a href=""
							editable-text="task.description"
							onbeforesave="checkTask($data, task.id, task.complete)"> {{
								task.description || 'empty' }} </a>
							<button data-hint="Delete task {{task.description}}"
								class="btn btn-red btn-xs hint--left"
								ng-click="deleteTask(task.id)">
								<span class="fa fa-trash-o"></span>
							</button>
						</span>
					</div>
					<div class="form-inline">
						<input type="text" class="form-control" ng-model="story.task"
							placeholder="Type your new task here" required />
						<button data-hint="Add story task"
							class="btn btn-green hint--left" ng-click="addTask()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>Activities</b></td>
			</tr>
			<tr>
				<td>
					<p ng-repeat="activity in storyInfo.activities">
						<span> <b>*</b> {{activity.message}}
						</span>
					</p>
				</td>
			</tr>
			<tr>
				<td><b>Comments</b></td>
			</tr>
			<tr>
				<td>
					<div ng-repeat="comment in storyInfo.comments">
						<b>-</b> <a href="" editable-text="comment.text"
							onbeforesave="checkComment($data, comment.id)"> {{
							comment.text || 'empty' }} </a>
						<button data-hint="Delete comment {{comment.text}}"
							class="btn btn-red btn-xs hint--left"
							ng-click="deleteComment(comment.id)">
							<span class="fa fa-trash-o"></span>
						</button>
					</div>
					<div class="form-inline">
						<input type="text" class="form-control" ng-model="story.comment"
							placeholder="Type your new comment here" required />
						<button data-hint="Add story comment"
							class="btn btn-green hint--left" ng-click="addComment()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
