<module-ui-enabler name="pivotaltracker"
	ng-controller="PivotalTrackerController">

<div pageheading>{{module.title}}</div>

<div ng-init="stories()">
	<div class='col-lg-12'>
		<h2>Project {{currentProjectName}}'s Stories</h2>
		<br />
		<div>
			<div class="row form-inline">
				<button type="button" class="btn btn-default"
					ng-disabled="allStories" ng-click="showAllStories()">Show
					all stories</button>
				<button type="button" class="btn btn-default"
					ng-disabled="!allStories" ng-click="redirecProjects()">Choose
					a project</button>
			</div>
		</div>
		<div>
			<div class="row form-inline">
				<input type="text" ng-model="query.id" class="form-control"
					placeholder="Insert Id">
				<button type="button" class="btn btn-default"
					ng-disabled="allStories" ng-click="queryStories(true)">Search
					by id</button>
			</div>
		</div>
		<div>
			<div class="row form-inline">
				<input type="text" ng-model="query.params" class="form-control"
					placeholder="Insert Label">
				<button type="button" class="btn btn-default"
					ng-disabled="allStories" ng-click="queryStories(false)">Search
					by label</button>
			</div>
		</div>
	</div>
	<div>
		<span> &nbsp; &nbsp; </span>
	</div>
	<table ng-table="tableParams"
		class="table table-striped table-bordered table-hover"
		template-pagination="modules/pivotaltracker/templates/ngTableTemplates.html">
		<thead>
			<tr>
				<th class='col-lg-1'>Id</th>
				<th class='col-lg-2'>Name</th>
				<th class='col-lg-4'>Description</th>
				<th class='col-lg-2'>Current State</th>
				<th class='col-lg-1'>Estimate</th>
				<th class='col-lg-4'>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tm in $data">
				<td>{{tm.id}}</td>
				<td>{{tm.name}}</td>
				<td>{{tm.description}}</td>
				<td>{{tm.current_state}}</td>
				<td>{{tm.estimate}}</td>
				<td class="inline">					
					<button data-hint="Delete story" style="float: right;"
						class="btn btn-danger hint--left" ng-click="deleteStory(tm.id)">
						<span class="fa fa-trash-o"></span>
					</button>
					<button data-hint="Edit story details" style="float: right;"
						class="btn btn-blue hint--left"
						ng-click="showInfo(tm.id, tm.name)">
						<i class="fa fa-edit"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<button type="button" ng-click="createStory()" class="btn btn-green">Create
		new story</button>
</div>
</module-ui-enabler>