<div pageheading>Dashboard</div>

<div
	id="sum_box"
	class="row mbl">
	<div class="col-sm-6 col-md-3">
		<div class="panel profit db mbm">
			<div class="panel-body">
				<p class="icon">
					<i class="icon fa fa-cogs"></i>
				</p>
				<h4 class="value">
					<span
						ticker
						ticker-begin="1"
						ticker-end="3"
						ticker-step="1"
						ticker-duration="500"
						ticker-data="dashProfit">{{dashProfit.value}} / 5</span>
				</h4>
				<p class="description">Completed workflows</p>
				<div class="progress progress-sm mbn">
					<div
						role="progressbar"
						aria-valuenow="80"
						aria-valuemin="0"
						aria-valuemax="100"
						style="width: 80%;"
						class="progress-bar progress-bar-success">
						<span class="sr-only">80% Complete (success)</span>
					</div>
				</div>
			</div>
			<paper-ripple fit />
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="panel income db mbm">
			<div class="panel-body">
				<p class="icon">
					<i class="icon fa fa-envelope"></i>
				</p>
				<h4
					class="value"
					ticker
					ticker-begin="700"
					ticker-end="812"
					ticker-step="2"
					ticker-duration="1200"
					ticker-data="dashIncome">

					<span>{{dashIncome.value}}</span>
				</h4>
				<p class="description">Received messages</p>
				<div class="progress progress-sm mbn">
					<div
						role="progressbar"
						aria-valuenow="60"
						aria-valuemin="0"
						aria-valuemax="100"
						style="width: 60%;"
						class="progress-bar progress-bar-info">
						<span class="sr-only">60% Complete (success)</span>
					</div>
				</div>
			</div>
			<paper-ripple fit />
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="panel task db mbm">
			<div class="panel-body">
				<p class="icon">
					<i class="icon fa fa-signal"></i>
				</p>
				<h4
					class="value"
					ticker
					ticker-begin="70"
					ticker-end="155"
					ticker-step="1"
					ticker-duration="1000"
					ticker-data="dashCompleted">
					<span>{{dashCompleted.value}} / 300</span>
				</h4>
				<p class="description">Completed tasks</p>
				<div class="progress progress-sm mbn">
					<div
						role="progressbar"
						aria-valuenow="50"
						aria-valuemin="0"
						aria-valuemax="100"
						style="width: 50%;"
						class="progress-bar progress-bar-danger">
						<span class="sr-only">50% Complete (success)</span>
					</div>
				</div>
			</div>
			<paper-ripple fit />
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="panel visit db mbm">
			<div class="panel-body">
				<p class="icon">
					<i class="icon fa fa-group"></i>
				</p>
				<h4
					class="value"
					ticker
					ticker-begin="300"
					ticker-end="376"
					ticker-step="5"
					ticker-duration="2000"
					ticker-data="dashVisitors">
					<span>{{dashVisitors.value}}</span>
				</h4>
				<p class="description">Total users</p>
				<div class="progress progress-sm mbn">
					<div
						role="progressbar"
						aria-valuenow="70"
						aria-valuemin="0"
						aria-valuemax="100"
						style="width: 70%;"
						class="progress-bar progress-bar-warning">
						<span class="sr-only">70% Complete (success)</span>
					</div>
				</div>
			</div>
			<paper-ripple fit />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="row">
			<div
				jmpress="jmpinstance"
				style="height: 250px;">

				<div
					class="step"
					data-x="0"
					data-y="0"
					data-scale="1"
					style="width: 500px">

					<h3>What is Evri?</h3>

					<div>The Evri platform is the only tool available to charities that includes everyone involved in the giving process. With lines of communication between the donor, the charity and the
						field staff – communicating exactly what people are giving has never been easier – or as interactive. Video and data is easily gathered from the field, collated by the charity and then made
						available to supporters – all through customisable apps and controlled from the one online portal.</div>
				</div>

				<div
					class="step"
					data-x="850"
					data-y="0"
					data-z="-700"
					style="width: 500px">

					<h3>Create your own app</h3>

					<div>Evri lets you create your own customised app for your supporters to use. Select your own colours, insert your logo and make it available to both Android and Apple users via the Google
						Play and App stores. Do all of this online in a matter of minutes without any prior development experience.</div>
				</div>


				<div
					class="step"
					data-x="1000"
					data-y="0"
					data-scale="1"
					data-rotate-x="-90"
					data-rotate-y="0"
					style="width: 500px">

					<h3>Communicate with users</h3>

					<div>Enable information to easily flow between the charity, its supporters and field staff with real-time messaging. Send push notifications to users so that you can reach them even when
						they have the app closed. Now you can communicate with all users, groups of users or individual users in a snap.</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<button
					ng-click="prev()"
					type="button"
					class="btn btn-primary btn-block">Prev</button>
			</div>
			<div class="col-lg-4"></div>
			<div class="col-lg-3">
				<button
					ng-click="next()"
					type="button"
					class="btn btn-primary btn-block">Next</button>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
</div>