<!DOCTYPE html>
<html
	lang="en"
	prefix="og: http://ogp.me/ns#"
	ng-app=Trunk>

<head>

<title>Trunk Platform</title>

<meta charset="utf-8" />
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge,chrome=1" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0" />
<meta
	name="description"
	content="" />

<meta
	property="og:type"
	content="article" />
<meta
	property="og:title"
	content="Trunk Platform" />
<meta
	property="og:description"
	content="Trunk Platform!" />
<meta
	property="og:url"
	content="https://trunkplatform.appspot.com/" />
<meta
	property="og:site_name"
	content="Trunk Platform" />
<meta
	property="og:image"
	content="https://trunkplatform.appspot.com/core/img/icon.png" />


<link
	href="core/css/loader.css"
	rel="stylesheet"
	type="text/css" />

<script src="core/lib/headjs/head.min.js"></script>
<script src="core/js/filesloader.js"></script>
<script src="constants.js"></script>

<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" />

<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Oswald:400,700,300" />

<!--
<link
	rel="stylesheet"
	data-ng-href="core/lib/uadmin/css/themes/{{style}}/{{theme}}.css" />
-->

<!-- Polymer -->

<link
	rel="import"
	href="https://www.polymer-project.org/components/paper-ripple/paper-ripple.html">

<link
	rel="icon"
	type="image/png"
	href="core/img/favicon.ico">

</head>

<body
	ng-controller="TrunkController"
	ng-class="[header.menu_style, header.header_topbar, header.effect]"
	class="animated">

	<div
		class="loader"
		ng-show="pageLoading"></div>

	<toaster-container></toaster-container>


	<!-- Not Logged in View -->

	<div
		ng-if="!session.loggedIn"
		class="fullheight noPadding">
		<div
			ng-view=""
			class="page-content fullheight noPadding"></div>
	</div>

	<div
		pagebackground
		ng-if="session.loggedIn"
		ng-class="header.boxed"
		class="default-page loggedindiv">

		<div
			id="header-topbar-option-demo"
			ng-include="'core/lib/uadmin/templates/states/header.html'"
			onload="load_header()"
			class="page-header-topbar"></div>

		<div
			id="wrapper"
			ng-class="header.layout_menu">

			<nav
				ng-menus
				id="sidebar"
				role="navigation"
				data-step="3"
				data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
				data-position="right"
				ng-include="'core/lib/uadmin/templates/states/sitebar.html'"
				class="navbar-default navbar-static-side"></nav>

			<div
				id="page-wrapper"
				ng-class="header.animation"
				class="animated">

				<div
					ng-view=""
					class="page-content"></div>
			</div>

			<div
				id="footer"
				ng-include="'core/lib/uadmin/templates/states/footer.html'"
				ng-show="header.footer"
				class="hide"></div>
		</div>
	</div>

	<div style="height: 0px;">

		<!-- SVG common defs -->
		<svg
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="0"
			height="0">

                     <defs>
                     	<marker
				id="head"
				orient="auto"
				markerWidth='2'
				markerHeight='6'
				refX='0.1'
				refY='1.5'>

                             <!-- triangle pointing right (+x) -->
                           <path
				id='head'
				d='M0,0 V3 L1.5,1.5 Z'
				fill="rgb(200,200,200)" />

                       </marker>
                   </defs>
               </svg>
	</div>

	<script src="https://maps.google.com/maps/api/js?sensor=true"></script>

	<script type="text/javascript">
		var filesLoader = new FilesLoader(fullVersion);

		filesLoader.loadAllCss();
		filesLoader.loadAllJs();
	</script>
</body>
</html>