<div class="vcontainer fullheight">
	<video loop id="loginvideo" vidloop autoplay class="loginvideo"
		oncontextmenu="return false"
		poster="https://az29176.vo.msecnd.net/videocontent/DallasDivideCO_TandemStock_66492190-768_EN-AU1395348791.jpg">

		<source
			src="https://az29176.vo.msecnd.net/videocontent/DallasDivideCO_TandemStock_66492190-768_EN-AU.mp4">
		<source
			src="https://az29176.vo.msecnd.net/videocontent/DallasDivideCO_TandemStock_66492190-768_EN-AU.ogv">
	</video>

	<div class="row">
		<div class="col-lg-12">
			<alert ng-show="specifyBranchUniqueName" type="danger"
				close="closeAlert()">Specify the branch unique name</alert>

			<div class="form-signin animated fadeInUp"
				ng-init="checkAlternativeLogins()">
				<form name="loginform" role="form">
					<h2 class="form-signin-heading">Please sign in</h2>
					<input type="text" ng-model="username" class="form-control"
						placeholder="Username" required autofocus />
					<!--  -->
					<input type="password" ng-model="password" class="form-control"
						placeholder="Password" required />
					<!--  -->
					<button
						class="btn btn-lg btn-success btn-block animated fadeInRight"
						ng-disabled="loginform.$invalid" type="submit"
						ng-click="login(username,password);">
						Sign in
						<paper-ripple fit />
					</button>
					<!--  -->
				</form>

				<div style="margin-top: 20px;" class="animated fadeInLeft">
					<a class="btn btn-lg btn-default btn-block" href="#/createtenant"
						type="submit"><span>Create branch</span> <paper-ripple fit />
					</a>
				</div>

				<div style="margin-top: 20px" class="animated fadeInLeft"
					align="center">
					<a class="btn btn-block btn-social btn-facebook" style="width: 80%"
						data-ng-show="!loggedFacebook" data-ng-disabled="!facebookReady"
						data-ng-click="intentLoginFacebook()"> <i
						class="fa fa-facebook"></i> Sign in with Facebook
					</a>
				</div>

				<div style="margin-top: 20px" class="animated fadeInLeft"
					align="center">
					<a class="btn btn-block btn-social btn-linkedin" style="width: 80%"
						data-ng-show="!loggedLinkedIn"
						data-ng-click="intentLoginLinkedIn()"> <i
						class="fa fa-linkedin"></i> Sign in with LinkedIn
					</a>
				</div>

				<div style="margin-top: 20px" class="animated fadeInLeft"
					align="center">
					<google-plus-signin data-ng-show="!loggedGoogle"
						clientid="242928767241-obkh8552u5h9jhlhd9tdp9kdvvp1trce.apps.googleusercontent.com">
					</google-plus-signin>
				</div>
			</div>
		</div>
	</div>
</div>