<module-ui-enabler name="github" ng-controller="GithubController">

<div pageheading>{{module.title}}</div>

<div class="row" ng-init="repositories()">
	<div class="col-lg-12">
		<feature-ui-enabler name="repositories">
		<div ng-include="'modules/github/repositoriesFragment.html'"></div>
		</feature-ui-enabler>
	</div>	
</module-ui-enabler>

