<div class="col-lg-6">
	<div class="portlet box">
		<div class="portlet-body">
			<div>
				<h3>
					<b> Repository: {{showCurrentRepository}} </b>
				</h3>
				<h4>
					<b>Unread notifications</b>
				</h4>
				<div class="chat-scroller">
					<ul class="chats">
						<li class="in"
							ng-repeat="not in githubRepositoryNotifications.notifications"><img
							src="core/img/slack_icon.png" class="avatar img-responsive">
							<div class="message">
								<span class="chat-arrow"></span><b>Title: </b><a
									href="javascript:void(0);" class="chat-name">
									{{not.subject.title}}</a>&nbsp; <br /> <b>Notification ID: </b><a
									href="javascript:void(0);" class="chat-name"> {{not.id}}</a>&nbsp;
								<span class="chat-body"> <b>Reason:</b> {{not.reason}}
								</span>
							</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>