<div class="col-lg-6">
	<div class="portlet box">
		<div class="portlet-body">
			<div>
				<h3>
					<b> Repository: {{showCurrentRepository}} </b>
				</h3>
				<h4>
					<b>Issues</b>
				</h4>
				<div class="chat-scroller">
					<ul class="chats">
						<li class="in" ng-repeat="iss in githubRepositoryIssues"><img
							src="core/img/issue_icon.png" class="avatar img-responsive">
							<div class="message">
								<span class="chat-arrow"></span><b>Title: </b><a
									href="javascript:void(0);" class="chat-name"> {{iss.title}}</a>&nbsp;
								<br /> <b>Issue ID: </b><a href="javascript:void(0);"
									class="chat-name"> {{iss.id}}</a>&nbsp; <span class="chat-body">
									<b>Body:</b> {{iss.body}}
									<button data-hint="Edit issue '{{iss.title}}'"
										style="float: right;" class="btn hint--left"
										ng-click="editIssue(showCurrentOwner, showCurrentRepository, iss.number, 
										iss.title, iss.body, iss.assignee.login)">Edit
										issue</button>
								</span>
							</div></li>
					</ul>
				</div>
				<div>
					<button type="button"
						ng-click="createIssue(showCurrentOwner, showCurrentRepository)"
						class="btn btn-green">Create new issue</button>
				</div>
			</div>
		</div>
	</div>
</div>