<module-ui-enabler
	name="messaging"
	ng-controller="MessagingController">

<div pageheading>{{module.title}}</div>

<div class="row">
	<div class="col-lg-12">
		<feature-ui-enabler name="list">
		<div class="row">
			<div class="col-lg-6">
				<div class="portlet box">
					<div class="portlet-body">
						<div>
							<div class="chat-scroller">
								<ul class="chats">
									<li
										class="in"
										ng-repeat="m in messages"><img
										src="core/img/avatar.gif"
										class="avatar img-responsive">
										<div class="message">
											<span class="chat-arrow"></span> <a
												href="javascript:void(0);"
												class="chat-name">{{m.id}}</a>&nbsp; <span class="chat-datetime">at July 06, 2014 17:06</span> <span class="chat-body">{{m.message}}</span>
										</div>

										<div class="message">
											<tagging-ui
												rowid="m.id"
												table="message"
												column="id"></tagging-ui>

											<rating-ui
												rowid="m.id"
												table="message"
												column="id"></rating-ui>
										</div></li>
								</ul>
							</div>
						</div>
						<div class="chat-form">
							<div class="input-group">
								<input
									ng-keyup="$event.keyCode == 13 ? sendMessage() : null"
									type="text"
									ng-model="message.message"
									class="form-control"
									placeholder="Type your message here" /> <span
									id="btn-chat"
									class="input-group-btn">
									<button
										type="button"
										ng-click="sendMessage()"
										class="btn btn-green">
										<i class="fa fa-check"></i>
									</button>
									<button
										data-hint="Delete messages"
										class="btn btn-danger hint--left"
										ng-click="deleteMessages()">
										<span class="fa fa-trash-o"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</feature-ui-enabler>
	</div>
</div>
</module-ui-enabler>

