<div class="row">
	<!-- Header -->
	<div class="col-xs-7">
		<div class="panel" ng-repeat="update in networkUpdates | orderBy:'-timestamp'">
			<div class='panel-body'>
				<div ng-if="update['update-type'] == 'SHAR'">
					<div ng-include="'modules/linkedin/network/LinkedinNetworkUpdatesSHAR.html'" onload='update=update'></div>
				</div>
				<div ng-if="update['update-type'] == 'PROF'">
					<div ng-include="'modules/linkedin/network/LinkedinNetworkUpdatesPROF.html'" onload='update=update'></div>
				</div>
				<!-- comment editor  -->
				<div class="col-md-12">
					<div class="col-md-2">
					</div>
					<div style="background-color:#F8F8F8;" class="col-md-10">
						<div style="margin-top:10px;" class="row" ng-if="update.likes.total > 0">
							<div class="col-md-1">
								<span class='glyphicon glyphicon-thumbs-up'></span>
							</div>
							<div class="col-md-11" ng-if="update.likes.total == 1">
								<div class='col-md-12'>
									{{update.likes.like.person['first-name'] + " " + update.likes.like.person['last-name']}}
								</div>
							</div>	
							<div class="col-md-11" ng-if="update.likes.total > 1">
								<div class="col-md-12">
									<ul  class="nav nav-pills">
										<li style="font-size:15px" ng-repeat="person in update.likes.like">
											{{person['person']['first-name'] + " " + person['person']['last-name'] + ", "}}
										</li>
									</ul>	
								</div>
							</div>	
							<br/>
							<hr>
						</div>
						
						<div  class="row" ng-if="update['update-comments']['total'] > 0">
							<div class='col-md-1'>
								<span class='glyphicon glyphicon-comment'></span>
							</div>
							
							<div class="col-md-11" ng-if="update['update-comments']['total'] == 1">
								<div class="col-md-1">
									<img ng-if="!update['update-comments']['update-comment']['person']['picture-url']" style='width:32px' src='core/img/linkedin_icon.jpg' />
									<img ng-if="update['update-comments']['update-comment']['person']['picture-url']" style='width:32px' src="{{update['update-comments']['update-comment']['person']['picture-url']}}" />
								</div>
								<div class="col-md-11" style="margin-top:-5px">
									{{update['update-comments']['update-comment']['comment']}}
								</div>
							</div>
							
							<div class="col-md-11" ng-if="update['update-comments']['total'] > 1" >
								<div  ng-repeat="comment in update['update-comments']['update-comment'] | orderBy:'-timestamp' | limitTo:2">
									<div class="col-md-1">
										<img ng-if="!comment['person']['picture-url']" style='width:32px' src='core/img/linkedin_icon.jpg' />
										<img ng-if="comment['person']['picture-url']" style='width:32px' src="{{comment['person']['picture-url']}}" />
									</div>
									<div class="col-md-11" style="margin-top:-5px">
										{{comment['comment']}}
									</div>
									<br/><br/>
								</div>
							</div>
						</div>
						
						<div ng-if="update['is-commentable']" style="text-align:right">
							<br/>
							<input class="col-md-12" type="text" ng-model='comment.comment' placeholder="Add Comment"/>
							<br/><br/>	
		
							<button class="btn btn-sm btn-primary"
									ng-click="addComment(update['update-key'],'network')"
									ng-disabled="!comment.comment">
								Add comment
							</button>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Statistic -->
	<div class="col-xs-5">
		<div class="panel" ng-if="networkStatistic">
			<div class="panel-body">
				<div class="col-md-12" style="margin-top:-15px">
					<h4><b>Your Linkedin Network:</b></h4>
				</div>
				<div class="col-md-12" ng-repeat="stats in networkStatistic['network-stats']['property']">
					<div class="col-md-4" style="margin-top:-15px; text-align:right; color:#98B2E5">
						<h3><b>{{stats.content}}</b></h3>
					</div>
					<div class="col-md-8" ng-if=" stats.key == 'degree-1-count'">
						<a ng-click="getMyConnections()">
							<h5 >Connections</h5>
						</a>
					</div>
					<div class="col-md-8" ng-if=" stats.key == 'degree-2-count'">
						<h5>Professionals in your Network</h5>
					</div>
				</div>
				<div class="col-md-12">
					<hr>
				</div>
			</div>
		</div>
		
		<!-- add update form -->
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-2">
					<img style="width:100%" src="{{myProfile['picture-url']}}"/>
				</div>
				<div class="col-md-10" style='margin-top:-15px'>
					<h3>Share an update</h3>
				</div>
				<div class="col-md-12">
					<br/>
					<textarea class="col-md-12" type="text" ng-model='networkUpdate.content' required></textarea>
				</div>
				<div class="col-md-12" style="text-align:right">
					<hr>
					<button class='btn btn-sm btn-primary' 
							ng-disabled="!networkUpdate.content"
							ng-click="postNetworkUpdate(networkUpdate.content)">
						Share
					</button>
				</div>
			</div>
		</div>
	</div>
</div>