<div class='row'>
	<div class='col-md-2'>
		<img ng-if="!update['update-content']['person']['picture-url']" width="100%" src='core/img/linkedin_icon.jpg' />
		<img ng-if="update['update-content']['person']['picture-url']" src="{{update['update-content']['person']['picture-url']}}" />			
	</div>
	<div class='col-md-10'>
		<div class='col-md-12' style="font-size:15px">
			Shared by 
			<a href="{{update['update-content']['person']['site-standard-profile-request']['url']}}">
				{{update['update-content']['person']['current-share']['author']['first-name'] + " " + update['update-content']['person']['current-share']['author']['last-name']}}
			</a>
		</div>
		<div class='col-md-12'>
			<div class='col-md-4'>
				<div class='thumbnail'>
					<a href="{{update['update-content']['person']['current-share']['content']['submitted-url']}}">
						<img src="{{update['update-content']['person']['current-share']['content']['submitted-image-url']}}"/>
					</a>
				</div>
			</div>
			<div class='col-md-8' style="margin-top:-10px">
				<a href="{{update['update-content']['person']['current-share']['content']['submitted-url']}}">
					<h4>
						<b>{{update['update-content']['person']['current-share']['content']['title']}}</b>
					</h4>
				</a>
				{{update['update-content']['person']['current-share']['content']['description']}}
			</div>
		</div>
		<div class="col-md-12">
			<h5>
				<a ng-click="addLike('network','like', update['update-key'])" ng-if="!update['is-liked'] && update['is-likable']">
					Like ({{update['num-likes']}})
				</a> 
				<a  ng-click="error('Already liked!')" ng-if="!(!update['is-liked'] && update['is-likable'])">
					<font color="#98B2E5">Like ({{update['num-likes']}}) </font>
				</a>
				- Comment({{update['update-comments']['total']}}) -
				<a ng-click="addShare(update)">
					Share
				</a>
				- {{date(update['timestamp'])}}
			</h5>
		</div>
	</div>
</div>